@charset "utf-8";
/* CSS Document */

/******** ====== Shortcode Event Types Starts here ========********/

/*----*****---- << Transition >> ----*****----*/
.dt-sc-event.type1 .dt-sc-event-meta, .dt-sc-event.type1 .dt-sc-event-meta p, .dt-sc-event.type1 .dt-sc-event-meta p span, .dt-sc-event.type2 .dt-sc-event-meta p, .dt-sc-event.type2 .dt-sc-event-meta, .dt-sc-event.type3 .dt-sc-event-date, .dt-sc-event.type3 .dt-sc-event-meta, .dt-sc-event.type4 .dt-sc-event-date::after, .dt-sc-event.type4 .dt-sc-event-date span, .dt-sc-event.type2 .dt-sc-event-date span, .dt-sc-event.type5 h2.entry-title, .dt-sc-event.type1 .dt-sc-event-thumb .dt-sc-event-date, .dt-sc-event.type1 .dt-sc-event-meta:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

.dt-sc-event .dt-sc-event-thumb { position:relative; }
.dt-sc-event h2.entry-title { font-size:20px; }

/*----*****---- << Type 1 >> ----*****----*/
.dt-sc-event.type1 { float:left; width:100%; overflow:hidden; box-shadow: 0 2px 0 #e3e4e6; }
.dt-sc-event.type1 h2.entry-title { font-size:20px; text-transform:uppercase; }
.dt-sc-event.type1 .dt-sc-event-thumb { position:relative; float:left; width:100%; overflow:hidden; }
.dt-sc-event.type1 .dt-sc-event-thumb p { text-transform:uppercase; font-weight:600; display: inline-block; float: left; font-size: 18px; line-height: 17px; padding: 10px; text-align: center; color:#fff; }
.dt-sc-event.type1 .dt-sc-event-thumb p span { font-size:25px; }
.dt-sc-event.type1 .dt-sc-event-thumb .dt-sc-event-date { position:absolute; right:10px; top:10px; }

.dt-sc-event.type1 .dt-sc-event-meta { margin-top:2px; background:#fff; float:left; width:100%; }
.dt-sc-event.type1 .dt-sc-event-meta p { box-sizing: border-box; float:left; margin-bottom:0; padding: 15px; width: 49.5%; font-size:14px; }
.dt-sc-event.type1 .dt-sc-event-meta p span { font-size:18px; line-height:18px; margin-right:4px; }
.dt-sc-event.type1 .dt-sc-event-meta p.events-venue { border-left:2px solid #e3e4e6; }

.dt-sc-event.type1 .dt-sc-event-meta p, .dt-sc-event.type1 .events-venue a { color:#6c757c; }
.dt-sc-event.type1:hover .dt-sc-event-meta p, .dt-sc-event.type1:hover .events-venue a { color:#fff; }
.dt-sc-event.type1:hover .dt-sc-event-meta p span { color:rgba(255,255,255, 0.5); }

.dt-sc-event.type1 img { -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out; -moz-transform: scale(1.08); -webkit-transform: scale(1.08); -o-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); }
.dt-sc-event.type1:hover img { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.dt-sc-event.type1:hover .dt-sc-event-thumb .dt-sc-event-date { right:0; top:0; }

.dt-sc-event.type1 .dt-sc-event-meta { position:relative; }
.dt-sc-event.type1 .dt-sc-event-meta:before { content:""; float:left; width:100%; position:absolute; left:0; bottom:0; height:0; z-index:1; }
.dt-sc-event.type1:hover .dt-sc-event-meta:before { height:100%; }
.dt-sc-event.type1 .dt-sc-event-meta p { z-index:9; position:relative; }

/*----*****---- << Type 2 >> ----*****----*/
.dt-sc-event.type2 h2.entry-title { text-transform:uppercase; }

.dt-sc-event.type2 .dt-sc-event-meta { box-shadow: 0 2px 0 #f7f9f9; color:#999999; float: left; padding: 20px 0; width: 100%; font-size:18px; line-height:27px; }
.dt-sc-event.type2 .dt-sc-event-meta p { margin-bottom:0; min-width:125px; }
.dt-sc-event.type2 .dt-sc-event-date { float:left; padding-right:10px; }
.dt-sc-event.type2 .dt-sc-event-date span {  float: left; font-size: 48px; line-height: 55px; margin-right:8px; }
.dt-sc-event.type2 .event-timing { border-left:1px solid #d3d3d3; display:inline-block; padding-left:20px; }
.dt-sc-event.type2 .event-timing a { color:#999999; }

.dt-sc-event.type2:hover .dt-sc-event-meta p { padding-left:10px; }

.dt-sc-event.type2:hover .dt-sc-event-meta { color:#fff; }
.dt-sc-event.type2:hover .dt-sc-event-date span, .dt-sc-event.type2:hover .event-timing a { color:rgba(255,255,255, 0.5); }

/*----*****---- << Type 3 >> ----*****----*/
.dt-sc-event.type3 .dt-sc-event-date { bottom: 0; color: #fff; font-size: 22px; font-weight: 300; margin-bottom: 0; padding: 15px; position: absolute; right: 0; }
.dt-sc-event.type3 .dt-sc-event-date span { font-size: 24px; font-weight: 600; }

.dt-sc-event.type3 .dt-sc-event-meta { background:#f2f2f2; float:left; width:100%; text-align:center; font-size:18px; padding:20px 0px; margin-top:1px; margin-bottom:20px; }
.dt-sc-event.type3 .dt-sc-event-meta p { margin-bottom:0; }

.dt-sc-event.type3 h2.entry-title { font-size: 18px; text-transform:uppercase; }

.dt-sc-event.type3:hover .dt-sc-event-meta { color:#fff; }
.dt-sc-event.type3:hover .dt-sc-event-meta a { color:rgba(255,255,255, 0.7); }

.dt-sc-event.type3:hover img { filter: grayscale(100%); -webkit-filter: grayscale(100%); /* For Webkit browsers */ filter: gray; /* For IE 6 - 9 */ -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */ }

/*----*****---- << Type 4 >> ----*****----*/
.dt-sc-event.type4 { float:left; width:100%; overflow:hidden; }
.dt-sc-event.type4 h2.entry-title { background:rgba(255,255,255, 0.7); padding:20px; position:absolute; bottom:0; left:0; width:100%; margin-bottom:0; box-sizing:border-box; }
.dt-sc-event.type4 .dt-sc-event-thumb { overflow:hidden; float:left; width:100%; }

.dt-sc-event.type4 .dt-sc-event-date { border-bottom:3px solid; padding:19px 0px; font-style:italic; font-size:15px; color:#bfbfbf; position:relative; float:left; width:100%; }
.dt-sc-event.type4 .dt-sc-event-date span { float: left; font-size: 50px; line-height: 47px; padding-right:10px; font-weight:bold; font-style:normal; }

.dt-sc-event.type4 .dt-sc-event-date:after { border-bottom: 3px solid #ff0000; bottom: -3px; content: ""; float: left; left: 0; position: absolute; width: 0; }
.dt-sc-event.type4:hover .dt-sc-event-date:after { width:100%; }

.dt-sc-event.type4 img { -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out; }
.dt-sc-event.type4:hover img { -moz-transform: scale(1.08); -webkit-transform: scale(1.08); -o-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); }
.dt-sc-event.type4:hover .dt-sc-event-date span { color:#000; }

/*----*****---- << Type 5 >> ----*****----*/
.dt-sc-event.type5 .dt-sc-event-meta p { font-size:18px; font-weight:300; margin-bottom:7px; }
.dt-sc-event.type5 .dt-sc-event-meta .dt-sc-event-date { text-transform:uppercase; color:#1a323e; margin-bottom:3px; }
.dt-sc-event.type5 .dt-sc-event-meta .dt-sc-event-date i { font-style:normal; }
.dt-sc-event.type5 .dt-sc-event-date span, .dt-sc-event.type5 .dt-sc-event-date i { font-weight:600; }
.dt-sc-event.type5 .dt-sc-event-meta p.dt-sc-event-venue { color:#999999; font-size:15px; }

.dt-sc-event.type5 h2.entry-title { text-transform:uppercase; font-size:22px; margin-bottom:30px; }

.dt-sc-event.type5 .dt-sc-event-cost, .dt-sc-event.type5 .dt-sc-events-read-more { background:#efefef; padding:13px 20px; float:left; font-size:18px; margin-right:2px; }
.dt-sc-event.type5 .dt-sc-events-read-more { color:#000; }
.dt-sc-event.type5:hover .dt-sc-events-read-more { background:#000; color:#fff;  }


	/* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
 		
		/** Event Shortcodes **/
		.dt-sc-event.type5 .dt-sc-one-half { width:100%; }
		.dt-sc-event.type5 .dt-sc-one-half.first { margin-bottom:20px; }
		
		.dt-sc-event.type1 .dt-sc-event-meta p { width:100%; padding:15px 15px 0; }
		.dt-sc-event.type1 .dt-sc-event-meta p:last-child { padding-bottom:15px; }
		.dt-sc-event.type1 .dt-sc-event-meta p.events-venue, .dt-sc-event.type2 .event-timing { border:none; }
		
		.dt-sc-event h2.entry-title, .dt-sc-event.type1 h2.entry-title, .dt-sc-event.type3 h2.entry-title, .dt-sc-event.type5 h2.entry-title { font-size:16px; }
		
		.dt-sc-event.type2 .dt-sc-event-date span { font-size:35px; width:100%; line-height:40px; margin:0; }
		.dt-sc-event.type2 .dt-sc-event-meta { font-size:14px; line-height:24px; }
		.dt-sc-event.type2 .dt-sc-event-meta > p { width:100%; padding-left:0; text-align:center; }
		.dt-sc-event.type2 .dt-sc-event-meta > p.dt-sc-event-date { margin-bottom:10px; }
		.dt-sc-event.type2:hover .dt-sc-event-meta > p { padding-left:0px; }
		
		.dt-sc-event.type3 .dt-sc-event-date { font-size:18px; }
		.dt-sc-event.type3 .dt-sc-event-meta { font-size:16px; }
		
		.dt-sc-event.type4 h2.entry-title { font-size:15px; padding:10px; }
		.dt-sc-event.type4 .dt-sc-event-date span { font-size:42px; }
	
	}
	
	
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
				
		.dt-sc-event.type5 .dt-sc-one-half { width:100%; }
		.dt-sc-event.type5 .dt-sc-one-half.first { margin-bottom:20px; }
		
		.dt-sc-event h2.entry-title, .dt-sc-event.type1 h2.entry-title, .dt-sc-event.type3 h2.entry-title, .dt-sc-event.type5 h2.entry-title { font-size:16px; }
		
		.dt-sc-event.type2 .dt-sc-event-date span { font-size:45px; }
		.dt-sc-event.type2 .dt-sc-event-meta { font-size:14px; }
		.dt-sc-event.type2 .dt-sc-event-meta p { min-width:93px; }
		
		.dt-sc-event.type3 .dt-sc-event-meta { font-size:17px; }
		
	}
	
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		.dt-sc-event h2.entry-title, .dt-sc-event.type1 h2.entry-title, .dt-sc-event.type3 h2.entry-title, .dt-sc-event.type5 h2.entry-title { font-size:16px; }
		.dt-sc-event.type5 .dt-sc-event-meta p { font-size:15px; }
		
		.dt-sc-event.type1 .dt-sc-event-meta p { width:100%; padding-bottom:0; }
		.dt-sc-event.type1 .dt-sc-event-meta p:last-child { padding-bottom:15px; }
		.dt-sc-event.type1 .dt-sc-event-meta p.events-venue { border:none; }
		
	}