/* CSS Document */

/* Table of Content
==================================================
	1.0 - Transition
	2.0 - Logo
	3.0 - Top Bar
	4.0 - Header
	5.0 - Default Color
	6.0 - Sticky Header
	7.0 - Simple Drop Down Menu
	8.0 - Mega Menu
	9.0 - Mobile Menu
	10.0 - Slider
	11.0 - Title & Breadcrumb
	12.0 - Footer
	13.0 - Side Navigation
	14.0 - Style Picker
	15.0 - Loader
	16.0 - Totop
	17.0 - Default Color */
	
	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.menu-icons-wrapper.rounded-icons .search a span, .menu-icons-wrapper.rounded-icons .cart a span, .menu-icons-wrapper .search a span, .menu-icons-wrapper .cart a span, #main-menu ul li.menu-item-simple-parent ul li a .fa, .megamenu-child-container ul.sub-menu > li > ul li a .fa,
	#main-menu .megamenu-child-container > ul.sub-menu > li > a .menu-item-description { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }


	/*--------------------------------------------------------------
	2.0 - Logo
	--------------------------------------------------------------*/

	.t_text { float: left; }
	.r_text { float: right; }

	#logo { display: flex; align-items: center; flex-grow: 1; }
	#logo a { display:block; overflow:hidden; float:left; padding:0px; margin:0px;    }
	#logo a img { display: block; height: inherit;  overflow: hidden; }
	#logo a .retina_logo { display:none; }
	
	
		/*----*****---- << 2.1. Darkbg Logo >> ----*****----*/
		#logo a .darkbg_logo, .dt-sc-dark-bg #logo a .normal_logo { display:none; }
		.dt-sc-dark-bg #logo a .darkbg_logo { display:block; }
		
		.is-sticky #logo a {  height: 50px; }
		.is-sticky #logo a img { max-height:100%; width:auto; height:auto; max-width:100%; }
		
		
		/*----*****---- << 2.2. Logo Title >> ----*****----*/
		#logo .logo-title { margin-top: 16px; }
		#logo .logo-title > h1 { line-height: normal; margin-bottom: 0; font-weight:bold; }
		#logo .logo-title h2 { font-size: 20px; display:block; clear:both; }
		#logo .logo-title > h1 a { height: auto; line-height: normal; width: auto; padding:0; }
		.left-header #logo .logo-title { padding:0 20px; }
		
		
		/*----*****---- << 2.3. Split Logo >> ----*****----*/
		.split-header #logo { position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; width:18%; text-align:center; z-index:9999; }
		.split-header #logo a { max-width:100%; float:none; margin:0 auto; }
		.split-header #logo a img { max-width:100%; max-height:100%; margin:0 auto; }	
		
		
		/*----*****---- << 2.4. Header Align Center >> ----*****----*/
		.header-align-center #logo { width:29.8%; text-align:center; display:inline-block; }
		.header-align-center .main-header #logo a { padding-top:25px; height:auto; float:none; padding-bottom:20px; }
		.header-align-center .main-header #logo a img { margin:0 auto; }
		
		.header-align-center .main-header > div:nth-child(1):nth-last-child(2),
		.header-align-center .main-header > .header-left:empty ~ #logo { display: block !important; margin-left: auto; margin-right: auto; text-align: center; }
		
		
		/*----*****---- << 2.5. Header Align Left >> ----*****----*/
		.header-align-left .main-header #logo a img, .header-align-center .main-header #logo a img, .overlay-header #logo a img { width:50%; }
		
		.header-align-left #logo { display:inline-block; width:24.7%; padding-top:24px; padding-bottom:20px; }
		.header-align-left #logo a { height:auto; }
		
		
		/*----*****---- << 2.6. Left Header >> ----*****----*/
		.left-header #header-wrapper #logo a { display:inline-block; float:none; width:100%; }
		.left-header #header-wrapper #logo a img { margin:0 auto; }
		.left-header #logo { margin:35px 0px; text-align:center; width:100%; clear:both; }
		.left-header.left-header-boxed #logo {  padding:40px 0 20px; margin:0px; text-align:center; }
		
		
		/*----*****---- << 2.7. Overlay Header >> ----*****----*/
		.overlay-header #logo a { padding: 20px 0px; height: auto; }
	
	
	
	/*--------------------------------------------------------------
	3.0 - Top Bar
	--------------------------------------------------------------*/
	.top-bar { clear:both; float:left; font-size: 15px; line-height:50px; margin: 0; max-height:50px; padding: 0; position:relative; width:100%; z-index:99999; }
	
	.top-bar-left { width:49%; float:left; }
	.top-bar-right { width:49%; float:right; text-align:right; }
	
	.top-bar .dt-sc-vertical-small-separator { position:relative; top:2px; }
	.top-bar-right .dt-sc-vertical-small-separator { margin:0px 15px; }
	
	.top-bar .language { float:left; margin:0px; padding:0px 20px 0px 0px; position:relative; }
	.top-bar .language img { margin:0px 10px 0px 0px; vertical-align:middle; position:relative; top:-1px; }
	.top-bar .language:before { content:"\f107"; position:absolute; font-family:FontAwesome; font-size:14px; right:0px; top:0px; bottom:0px; margin:auto; }
	
	.text-with-icon { display:inline-block; }
	.text-with-icon span, .text-with-icon .icon, .text-with-icon .fa { display:inline-block; font-size:14px; margin: 0 5px  0  0; position:relative; top: 0; }
	
	.top-bar .dt-sc-sociable { float:right; margin:0px; padding:0px; }
	.top-bar .dt-sc-sociable li { display:inline-block; margin:0px; padding:0px; }
	.top-bar .dt-sc-sociable li a { padding:0px 10px; width:auto; height:auto; line-height:50px; }
	
	.top-bar .dt-sc-button { margin-top:5px; letter-spacing:1px; font-weight:bold; }

	.top-bar ul { margin: 0; }
	.top-bar ul, .top-bar ul li { float: left; }
	.top-bar ul li, .top-bar .text-with-icon { display: inline-block; margin-right: 15px; padding-bottom: 0; }
	.top-bar ul li:last-child, .top-bar .text-with-icon:last-child { margin-right: 0; }

	.top-bar ul.menu-links li a:after, .top-bar .text-with-icon:after {  background-color: #111; content: ""; display: inline-block; height: 15px; margin: 0 0 0 15px; vertical-align: middle; width: 1px; }
	.top-bar ul.menu-links li:last-child a:after, .top-bar .text-with-icon:last-child:after { content: none; }

	.top-bar .alignright ul { float: right; }

	.dt-sc-dark-bg .text-with-icon span, .dt-sc-dark-bg .text-with-icon .icon, .dt-sc-dark-bg .text-with-icon .fa { color: #fff; }
	.top-bar.dt-sc-dark-bg ul.menu-links li a::after, .top-bar.dt-sc-dark-bg .text-with-icon::after { background-color: rgba(255, 255, 255, 0.6); }

	
	
	/*--------------------------------------------------------------
	4.0 - Header
	--------------------------------------------------------------*/
	#header-wrapper { float:left; width:100%; margin:0px; padding:0px; }
	#header { width:100%; margin:0px; padding:0px; float:left; position:relative; }
	
	.header-on-slider .main-header-wrapper { position: inherit; }
	/* .header-on-slider.header-with-topbar .main-header-wrapper { margin-top: 100px; } */
	.header-on-slider .main-header-wrapper, /* .header-on-slider.header-with-topbar .top-bar, */ .header-on-slider.header-with-topbar .main-header-wrapper, .header-on-slider.header-with-topbar.page-with-slider .main-header-wrapper { margin-top:50px; }
	.header-on-slider .is-sticky .main-header-wrapper, .header-on-slider.page-with-slider .main-header-wrapper, .header-on-slider.page-with-slider.header-with-topbar .is-sticky .main-header-wrapper { margin-top:0; }	
	.header-on-slider.page-with-slider.header-with-topbar .main-header-wrapper:before { background-repeat: repeat-x; background-position: left top; content: ""; height: 162px; pointer-events: none; position: absolute; left: 0; top: 0; width: 100%;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.7+0,0.6+20,0.16+73,0.06+88,0+100 */
		background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.16) 73%, rgba(255,255,255,0.06) 88%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.16) 73%,rgba(255,255,255,0.06) 88%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.16) 73%,rgba(255,255,255,0.06) 88%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	 }

	.header-on-slider.page-with-slider.header-with-topbar .is-sticky .main-header-wrapper:before { content: none; }
	
	.header-on-slider.header-with-topbar .top-bar { /* margin-top: 50px; */ position: absolute; }
	.header-on-slider.page-with-slider.header-with-topbar .top-bar { margin-top: 0; }

	.header-on-slider.page-with-slider .main-header-wrapper { position: absolute; top: 50px; }
	.header-on-slider.page-with-slider.header-with-topbar .main-header-wrapper { top: 0; }

	.header-below-slider .main-header-wrapper { margin-top: 0; }
	
	.main-header-wrapper { float: left; position:absolute; left:0; top:0; width:100%; -webkit-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
	.main-header { display:flex; float:left; width:100%; padding:5px 0px; margin:0px; position:relative; }
	
	.standard-header .main-header-wrapper { position:inherit; top:0px; float:left; clear:both; width:100%; }
	
	.layout-boxed.standard-header .main-header-wrapper { width:1250px; }
	.layout-boxed.left-header .main-header-wrapper { width:100%; }
	
	/*.header-on-slider.boxed-header .main-header-wrapper { top:50px; }*/
	.boxed-header .main-header { padding:0px 30px;  }
	
		/*----*****---- << 4.1. Split Header >> ----*****----*/
		.split-header #main-menu .menu-left, .split-header #main-menu .menu-right { width:40%; }
		.split-header #main-menu .menu-right { float:right; }
		.split-header .menu-wrapper, .split-header #main-menu { width:100%; margin:0px; }
		.split-header #main-menu ul.menu > li > a { padding:0px 21px; }
		.split-header .is-sticky .menu-active-with-double-border #main-menu ul.menu > li > a { line-height:66px; }
			
		.split-header #main-menu ul.menu { text-align:left; line-height:0px; }
		.split-header #main-menu ul.menu li { line-height:24px; }
		.split-header #main-menu ul.menu.menu-right { text-align:right; }
		.split-header #main-menu ul.menu > li { float:none; display:inline-block; text-align:center; }
		
		.split-header.transparent-header #main-menu ul.menu > li > a { padding:0px; }
		.split-header.transparent-header #main-menu ul.menu > li { padding:0px 20px; }
		
		.transparent-header .main-header, .transparent-header .main-header-wrapper, .left-header.transparent-header .main-header, .left-header.transparent-header .main-header-wrapper { background:none; }
		
		
		/*----*****---- << 4.2. Two Color Header >> ----*****----*/
		.two-color-header .main-header-wrapper:before { content:""; position:absolute; top:0px; left:-5%; width:39.5%; height:100%; -webkit-transform:skewX(-30deg); transform:skewX(-30deg); }
		.two-color-header .main-header-wrapper:after { content:""; position:absolute; top:0px; right:-5%; width:70%; height:100%; -webkit-transform:skewX(-30deg); transform:skewX(-30deg); }
		.two-color-header .menu-wrapper { position:relative; z-index:1; }
		.two-color-header .dt-sc-dark-bg .main-header-wrapper { background:none; }
		
		.fullwidth-menu-header .menu-wrapper { width:100%; clear:both; text-align:center; border-top:1px solid; border-bottom:1px solid; margin-left:0px; float:left; }
		.fullwidth-menu-header .dt-sc-dark-bg .menu-wrapper { border-bottom-color: rgba(255,255,255,0.3); border-top-color: rgba(255,255,255,0.3); }
		
		
		/*----*****---- << 4.3. Header Align Center >> ----*****----*/
		.header-align-center.fullwidth-menu-header #main-menu, .header-align-center #main-menu ul.menu { text-align:center; display:inline-block; float:none; }
		.header-align-center.fullwidth-menu-header #main-menu ul.menu > li, .header-align-center #main-menu ul.menu > li > a { float:none; display:inline-block; }
		.header-align-center.fullwidth-menu-header #main-menu ul.menu > li > a { line-height:70px; }
		
		.header-align-center.fullwidth-menu-header .menu-icons-wrapper { height:auto; display:inline-block; float:none; padding:0; }
		.header-align-center.fullwidth-menu-header .menu-icons-wrapper .search, .header-align-center.fullwidth-menu-header .menu-icons-wrapper .cart { float:none; display:inline-block; }
		.header-align-center.fullwidth-menu-header .menu-icons-wrapper .search a, .header-align-center.fullwidth-menu-header .menu-icons-wrapper .cart a { line-height:50px; }
		
		.header-align-center .header-left, .header-align-center .header-right, .header-align-left .header-right { padding-top: 20px; padding-bottom:20px; }
		.header-align-center .header-left:empty, .header-align-center .header-right:empty, .header-align-left .header-right:empty { display:none; }
		
		.header-align-left.fullwidth-menu-header .dt-sc-dark-bg .is-sticky .menu-wrapper, .header-align-center.fullwidth-menu-header .dt-sc-dark-bg .is-sticky .menu-wrapper, .header-align-left.fullwidth-menu-header.semi-transparent-header .dt-sc-dark-bg .is-sticky .menu-wrapper {  background:rgba(0, 0, 0, 0.9);}
		
		.header-align-center .header-left, .header-right { width:35%; }
		
		.header-align-center .main-header { display:block; }
		
		.header-align-center .header-left { float:left; }
		.header-align-center .header-right { float:right; text-align:right; }
		
		.header-align-left .header-right { width:75%; float:right; text-align:right; }
		.header-align-left.fullwidth-menu-header .menu-wrapper { border-bottom:none; }
		
		.header-ad { width:100%; line-height:150px; }
		.header-ad img { max-width:100%; vertical-align:middle; }
	
	
		/*----*****---- << 4.4. Header Search Form >> ----*****----*/
		.main-header #searchform { border:1px solid; padding:13px 15px; max-width:250px; position:relative; margin:0px; }
		.main-header #searchform:before { content:"\f002"; position:absolute; font-family:FontAwesome; font-size:14px; right:15px; top:-4px; bottom:0px; margin:auto; height:22px; }
		.main-header #searchform input[type="text"] { border:none; background:none; padding:0px; text-transform:uppercase; font-size:12px; width:220px; -webkit-appearance:none; }
		.main-header #searchform label span { display:none; }
		.main-header #searchform input[type="submit"] { width:45px; height:42px; margin:0px; padding:0px; position:absolute; right:0px; top:0px; z-index:1; cursor:pointer; background:none; text-indent:-9999px; }
		
		
		/*----*****---- << 4.5. Menu Icons Wrapper >> ----*****----*/
		.menu-icons-wrapper { float:right; margin:0px 0px 0px 10px; padding:10px 0px; height:70px; }
		.menu-icons-wrapper .search, .menu-icons-wrapper .cart { float:left; margin:0px 10px; }
		.menu-icons-wrapper.rounded-icons .search, .menu-icons-wrapper.rounded-icons .cart { margin:0px 5px; }
		.menu-icons-wrapper div:last-child { margin-right:0px; }
		.menu-icons-wrapper .search a, .menu-icons-wrapper .cart a {  font-size:14px; }
		.menu-icons-wrapper .search a span, .menu-icons-wrapper .cart a span { line-height:70px; }
		.menu-icons-wrapper.rounded-icons .search a span, .menu-icons-wrapper.rounded-icons .cart a span { width:38px; height:38px; border-radius:50%; line-height:40px; text-align:center; }
		
		.menu-icons-wrapper .search { position:relative; }
		.menu-icons-wrapper .top-menu-search-container { display:none; position:absolute; right:-10px; bottom:-55px; z-index:9; }
		.menu-icons-wrapper .top-menu-search-container.show-top-menu-search { display:block; }
		.menu-icons-wrapper .top-menu-search-container .search-form label span { display:none; }
		.menu-icons-wrapper .top-menu-search-container .search-form input[type="submit"] { text-indent:-9999px; }
		.menu-icons-wrapper .top-menu-search-container .search-form input[type="search"] { padding-right:30px; text-transform:none; }	
		.menu-icons-wrapper .cart sup { width:15px; height:15px; line-height:15px; text-align:center; font-size:9px; font-weight:bold; color:#ffffff; border-radius:50%; position:relative; top:-8px; left:-9px; display:inline-block; }
		
		.cart-info { padding:14px 20px 14px 57px; width:auto; display:inline-block; position:relative; margin:28px 0px 0px; }
		.cart-info p { margin:0px; }
		.cart-info:before { content:"\e66c"; position:absolute; font-family:"Stroke-Gap-Icons"; font-size:20px; left:15px; top:18px; }
		.cart-icon span { font-size:12px; line-height:20px; display:inline-block; width:20px; height:20px; border-radius:50%; text-align:center; position:absolute; left:28px; top:9px; }
		.cart-total { font-size:14px; display:inline-block; margin:0px 0px 0px 20px; letter-spacing:0.5px; }	
		
		.main-header .menu-icons-wrapper #searchform { margin:0px; }
		#searchform .dt-search-icon { display:none; }
		
		.live-chat { float:right; margin:32px 0px 0px 10px; }
		.live-chat a { font-size:10px; font-weight:800; padding:10px 15px 9px; text-transform:uppercase; border-radius:5px; }
		.live-chat a span { font-size:14px; display:inline-block; margin:0px 5px 0px 0px; }
		
		
		/*----*****---- << 4.6. Menu Active Style >> ----*****----*/
		.menu-wrapper { float:right; margin:0px 0px 0px 20px; }
		#main-menu, #main-menu ul.menu { float:left; margin:0px; padding:0px; }
		#main-menu ul.menu li { float:left; display:inline; margin:0px; padding:0px; }
		#main-menu > ul.menu > li > a, #main-menu > ul.menu > li > span { font-size:17px !important; font-weight:400; float:left; line-height:80px; padding:0px 15px; color:#000; }
		
		.menu-active-highlight-grey #main-menu ul.menu > li { padding:0px 20px; }
		.menu-active-highlight-grey #main-menu ul.menu > li > a { padding:0px; position:relative; }
		.menu-active-highlight-grey #main-menu ul.menu > li > a:before { content:""; position:absolute; height:2px; width:100%; left:0px; bottom:0px; }
		
		.left-header .menu-active-highlight-grey #main-menu ul.menu > li { padding:0; }
		.left-header #main-menu, .left-header #main-menu ul.menu { width:100%; }
		.left-header .menu-with-slanting-splitter #main-menu ul.menu > li:before { content:none; }
		.left-header #main-menu ul.menu > li > .megamenu-child-container { overflow-y: scroll; height: 400px; }
		
		.left-header .top-bar { float: left; clear: both; padding: 0px; text-align: center; width: 100vw; position: relative; height: auto; left: 0;}
		
		.left-header #header-wrapper .top-bar .container { width: 1170px; }	
		.left-header .vc_row.vc_row-no-padding { left: 0px !important; margin: 0 auto; width: 100% !important; }
			
		.left-header .menu-active-with-icon.menu-active-highlight #main-menu > ul.menu > li > a:before, .left-header .menu-active-with-icon.menu-active-highlight #main-menu > ul.menu > li > a:after { content:none; }
		
		.left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before { top:0; bottom:0; margin:auto; transform:rotate(-90deg); right:-26px;  -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); left:auto; }
		
		.menu-active-with-double-border #main-menu ul.menu > li > a { border-bottom:4px double transparent; }
		.left-header .menu-active-with-double-border #main-menu ul.menu > li > a { border-bottom-color:transparent; }
		.left-header .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-item > a { border-top-color: rgba(0,0,0,0.09); }
		
		.split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before { bottom:-2px; }
		
		.split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .split-header.transparent-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { bottom:-8px; }
		
		.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a { position:relative; }
		
		.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { content:""; position:absolute; left:0px; right:0px; margin:auto; }
		
		.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before { bottom:20px; width:13px; height:1px; }
		
		.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { bottom:14px; height:13px; width:1px; }
		
		.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a { border:none; }
		
		.menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a { position:relative; }
		
		.menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-border-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:after { content:""; position:absolute; left:0px; bottom:0px; width:100%; margin:auto; }
		
		.menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a:before { border-left:3px solid transparent; border-right:3px solid transparent; border-bottom:3px solid; right:0px; width:0px; bottom:2px; }
		.menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a:after { height:2px; }
		
		.menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a { position:relative; }
		.menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:after { content:""; position:absolute; left:0px; width:100%; height:2px; }
		
		.menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:before { top:0px; }
		.menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:after { bottom:0px; }
		
		.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a { position:relative; }
		.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before { content:""; position:absolute; width:0px; height:0px; left:0px; bottom:-9px; border-top:12px solid; border-left:20px solid transparent; border-right:20px solid transparent; margin:0 auto; right:0; }

		
		.menu-with-small-splitter #main-menu ul.menu > li { position:relative; }
		.menu-with-small-splitter #main-menu ul.menu > li:before { content:""; position:absolute; top:0px; bottom:0px; right:0px; margin:auto; height:20px; width:1px; } 
		.menu-with-small-splitter #main-menu ul.menu > li:last-child:before { background:none; }
		
		.menu-with-slanting-splitter #main-menu ul.menu > li { position:relative; }
		.menu-with-slanting-splitter #main-menu ul.menu > li:before { content:""; position:absolute; top:3px; bottom:0px; right:-6px; margin:auto; height:25px; width:1px; -webkit-transform:rotate(30deg);  -moz-transform-origin:0 0;  -moz-transform:rotate(30deg);  -ms-transform-origin:0 0;  -ms-transform:rotate(30deg);  transform-origin:0 0; transform:rotate(30deg); } 
		.menu-with-slanting-splitter #main-menu ul.menu > li:last-child:before, .dt-sc-dark-bg .menu-with-slanting-splitter #main-menu ul.menu > li:last-child:before { background:none; }
		.overlay-header .menu-with-slanting-splitter #main-menu ul.menu > li:before { bottom: 27px; top:auto;  height: 1px; width:25px; right: 0; left:0; transform:none; }
		
		
		/*----*****---- << 4.7 - Left Header >> ----*****----*/
		html { height:100%; }
		
		.left-header #header-wrapper .main-header { display:inline-block; }
		
		.left-header #header-wrapper .main-header-wrapper, .left-header #header-wrapper .main-header { height:100%; }
		.left-header #header-wrapper { width:260px; height:100%; position:fixed; left:0px; top:0px; z-index:9999; }
		.left-header #header { height:100%; }
		.left-header .main-header-wrapper { position:inherit; }
		.left-header.header-on-slider.header-with-topbar .main-header-wrapper { margin-top: 0; }
		.left-header.header-on-slider.page-with-slider .main-header-wrapper { top: auto; }
		.left-header .menu-wrapper { width:100%; clear:both; margin:0; }
		.left-header #header-wrapper .container { width:100%; height:100%; }
		
		
		.left-header #main-menu ul.menu li, .left-header #main-menu ul.menu li a { width:100%;  }
		.left-header #main-menu > ul.menu > li > a { font-size:16px; font-weight:bold; line-height:normal; padding:16px 25px 15px; border-top:1px solid; }
		.left-header #main-menu > ul.menu > li:last-child > a { border-bottom:1px solid; }
		.left-header .menu-active-with-double-border #main-menu ul.menu > li:last-child > a { border-bottom: 4px double; }
		
		.left-header:not(.left-header-boxed) .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a:before, 
		.left-header:not(.left-header-boxed) .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a:before, 
		.left-header:not(.left-header-boxed) .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a:before, 
		.left-header:not(.left-header-boxed) .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a:before { left: 25px; right: auto; }
		
		.left-header-footer { clear:both; width:100%; position:absolute; bottom:0px; text-align:center; padding:30px 20px;  }
		.left-header-footer:empty { display:none; }
		.left-header-footer h5 { text-transform:uppercase; }
		.left-header-footer .dt-sc-sociable { width:100%; text-align:center; }
		.left-header-footer .dt-sc-sociable li, .left-header-footer .dt-sc-sociable li a { display:inline-block; float:none; }
		.left-header-footer .dt-sc-sociable li { margin: 0 5px 5px; }
		.left-header-footer .dt-sc-sociable.filled li a { width:32px; height:32px; line-height:32px; }
		.left-header-footer p { font-size:13px; line-height:24px; margin:20px 0px 0px; display:inline-block; }
		
		.left-header { overflow-x:hidden; }
		.left-header #main { padding-left:260px;  }
		.left-header.layout-boxed #main { padding-left:0; }
		.left-header .menu-icons-wrapper { display:none; }
		
		.left-header #main-menu ul.menu > li > .megamenu-child-container { left:260px; top:0px; }
		.left-header .main-header-wrapper #main-menu ul li.menu-item-simple-parent ul { left:100%; top:0px; }
		
		.left-header .section-wrapper.vc_row[data-vc-full-width-init] { padding-left:260px; }
		.left-header.left-header-boxed .section-wrapper.vc_row[data-vc-full-width-init] { padding-left:0px; }
		.left-header.left-header-creative .section-wrapper.vc_row[data-vc-full-width-init] { padding-left:0px; }
		
		
		/*----*****---- << 4.8 - Left Header Creative >> ----*****----*/
		.left-header.left-header-creative #main { padding-left:0px; }
		
		.left-header.left-header-creative #toggle-sidebar { display:block !important; }
		.left-header #toggle-sidebar { cursor:pointer; width:45px; height:45px; position:fixed; left:20px; top:20px; z-index:3000; }
		
		.left-header #toggle-sidebar:before { content:""; position:absolute; width:26px; height:14px; border-top:2px solid #ffffff; border-bottom:2px solid #ffffff; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
		.left-header #toggle-sidebar:after { content:""; position:absolute; width:26px; height:2px; background:#ffffff; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
		
		.left-header #toggle-sidebar.close-icon { display:none; }
		.left-header.left-header-creative #header-wrapper[data-simplesidebar="disabled"] .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a::before, 
		.left-header.left-header-creative #header-wrapper[data-simplesidebar="disabled"] .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a::before, 
		.left-header.left-header-creative #header-wrapper[data-simplesidebar="disabled"] .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a::before, 
		.left-header.left-header-creative #header-wrapper[data-simplesidebar="disabled"] .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a::before { visibility: hidden; }
		
		
		/*----*****---- << 4.9 Left Header Boxed >> ----*****----*/
		.left-header.left-header-boxed #main { padding-left:0px; }
		
		.left-header.left-header-boxed #header-wrapper { left:40px; top:40px; bottom:40px; height:auto; }	
		
		.left-header.left-header-boxed #main-menu > ul.menu > li > a { text-align:center; }
		
		
		/*----*****---- << 4.10 - Overlay Menu >> ----*****----*/
		.overlay-header.header-on-slider.header-with-topbar .main-header-wrapper { margin-top: 50px; }
		.overlay-header.header-on-slider.page-with-slider .main-header-wrapper { margin-top: 0; }
		.overlay-header .overlay nav { text-align:center; position: relative; top: 50%; font-size: 54px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width:100%; }
		.overlay-header .overlay ul { list-style: none; padding: 0; margin: 0 auto; display: inline-block; height: 100%; position: relative; float:none; }
		.overlay-header .overlay ul li { display: block; height: 16.6666667%; height: calc(100% / 6); min-height: 54px; }
		
		.overlay-header .dt-sc-dark-bg .main-header-wrapper { background:none; }
		
		.overlay-hugeinc { opacity: 0; visibility: hidden; -webkit-transition: opacity 0.5s, visibility 0s 0.5s; transition: opacity 0.5s, visibility 0s 0.5s; }
		.overlay-hugeinc.open { opacity: 1; visibility: visible; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
		.overlay-hugeinc nav { -webkit-perspective: 1200px; perspective: 1200px; }
		.overlay-hugeinc nav ul { opacity: 0.4; -webkit-transform: translateY(-25%) rotateX(35deg); transform: translateY(-25%) rotateX(35deg); -webkit-transition: -webkit-transform 0.5s, opacity 0.5s; transition: transform 0.5s, opacity 0.5s; }
		.overlay-hugeinc.open nav ul { opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
		.overlay-hugeinc.close nav ul { -webkit-transform: translateY(25%) rotateX(-35deg); transform: translateY(25%) rotateX(-35deg); }
		
		.overlay-header .sticky-wrapper .main-header-wrapper, .overlay-header .main-header-wrapper { z-index:99999; }
		
		@media screen and (max-height: 30.5em) { 
			.overlay-header .overlay nav { height:70%; }
			.overlay-header .overlay ul li { min-height:34px; }
		}	
		
		.overlay-header #main-header-wrapper.main-header-wrapper { background: transparent; }
		.overlay-header .overlay { position:fixed; width:100%; height:100%; top:0; left:0; z-index:9999; }
		.overlay-header #trigger-overlay, .overlay-header .overlay .overlay-close { cursor:pointer; width:46px; height:46px; position:fixed; right:20px; top:20px; font-size:0px; z-index:9; }
		
		.overlay-header #trigger-overlay:before { content:""; position:absolute; width:26px; height:14px; border-top:2px solid #ffffff; border-bottom:2px solid #ffffff; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
		.overlay-header #trigger-overlay:after { content:""; position:absolute; width:26px; height:2px; background:#ffffff; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
		
		.overlay-header .overlay .overlay-close:before, .overlay-header .overlay .overlay-close:after { content:""; position:absolute; width:26px; height:2px; background:#ffffff; left:0px; right:0px; top:0px; bottom:0px; margin:auto; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
		.overlay-header .overlay .overlay-close:after { -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); }
		.overlay-header .dt-sc-dark-bg .overlay .overlay-close { background:rgba(0, 0, 0, 0.1); }
			
		.overlay-header .overlay #main-menu, .overlay-header .overlay #main-menu ul.menu { float:none; text-align:center; }
		.overlay-header .overlay #main-menu > ul.menu > li { clear:both; text-align:center; float:none; display:block; width:100%; top:50%; transform:translateY(-50%); }
		.overlay-header .overlay #main-menu > ul.menu > li > a { font-size:20px; line-height:normal; float:none; display:inline-block; padding:0px; position: relative; }
		.overlay-header .dt-sc-dark-bg .overlay #main-menu > ul.menu > li > a { color:rgba(255,255,255,0.6); }
		.overlay-header .dt-sc-dark-bg .overlay #main-menu > ul.menu > li.current-menu-item > a, .overlay-header .dt-sc-dark-bg .overlay #main-menu > ul.menu > li.current_page_item > a, .overlay-header .dt-sc-dark-bg .overlay #main-menu > ul.menu > li > a:hover { color:#fff; }
		
		.overlay-header .dt-sc-dark-bg .overlay #main-menu ul li.menu-item-megamenu-parent:hover > a, .overlay-header .dt-sc-dark-bg .overlay #main-menu ul > li.menu-item-simple-parent:hover > a { color:#ffffff; }
		
		.overlay-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .overlay-header .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .overlay-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .overlay-header .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before { width:auto; height:auto; position:inherit; }
		
		.overlay-header .overlay #main-menu > ul > li.current_page_item, .overlay-header .overlay #main-menu > ul > li.current_page_ancestor, .overlay-header .overlay #main-menu > ul > li.current-menu-item, .overlay-header .overlay #main-menu ul > li.current-menu-ancestor, .overlay-header .overlay #main-menu > ul > li.current_page_item > a, .overlay-header .overlay #main-menu > ul > li.current_page_ancestor > a, .overlay-header .overlay #main-menu > ul > li.current-menu-item > a, .overlay-header .overlay #main-menu ul > li.current-menu-ancestor > a, .overlay-header .overlay #main-menu > ul.menu > li > a:before, .overlay-header .overlay #main-menu > ul.menu > li > a:after { background-color: rgba(0,0,0,0) !important; border:none; }	
		.overlay-header .overlay { background:rgba(255,255,255,0.9) }
		
		.overlay-header .overlay #main-menu > ul.menu > li > a:before, .overlay-header .overlay #main-menu > ul.menu > li > a:after { display: inline-block; opacity: 0; bottom: auto; left: auto; right: auto; width: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.2s; -moz-transition: -moz-transform 0.3s, opacity 0.2s; transition: transform 0.3s, opacity 0.2s; }
		.overlay-header .overlay #main-menu > ul.menu > li > a:before { content: '['; height:auto; position:inherit; width:auto; }
		.overlay-header .overlay #main-menu > ul.menu > li > a:after { content: ']'; }
		
		.overlay-header .overlay #main-menu > ul.menu > li:hover > a:before, .overlay-header .overlay #main-menu > ul.menu > li:hover > a:after,
		.overlay-header .overlay #main-menu > ul.menu > li > a:hover:before, .overlay-header .overlay #main-menu > ul.menu > li > a:hover:after { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); }
		.overlay-header .overlay #main-menu > ul.menu > li > a:before, .overlay-header .overlay #main-menu > ul.menu > li:hover > a:after, .overlay-header .overlay #main-menu > ul.menu > li > a:hover:after  { -webkit-transform: translateX(15px); -moz-transform: translateX(15px); transform: translateX(15px); }
		.overlay-header .overlay #main-menu > ul.menu > li > a:after, .overlay-header .overlay #main-menu > ul.menu > li:hover > a:before, .overlay-header .overlay #main-menu > ul.menu > li > a:hover:before { -webkit-transform: translateX(-15px); -moz-transform: translateX(-15px); transform: translateX(-15px); }
		
		.overlay-header .menu-with-slanting-splitter #main-menu ul.menu > li::before { content: none; }
		
	
	
	/*--------------------------------------------------------------
	5.0 - Default Color
	--------------------------------------------------------------*/
	#main-menu ul.menu > li > a { color:#000000; }
	.dt-sc-dark-bg #main-menu ul.menu > li > a { color:#ffffff; }
	
	.menu-active-highlight #main-menu > ul.menu > li.current_page_item > a, .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-item > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor > a, 
	.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a,  
	.left-header .menu-active-highlight #main-menu > ul.menu > li.current_page_item > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current-menu-item > a, .left-header .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor > a, 
	.left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a, .left-header .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a,
	
	.menu-active-highlight #main-menu > ul.menu > li.current_page_item:hover > a, .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor:hover > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-item:hover > a, .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor:hover > a,
	.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item:hover > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor:hover > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item:hover > a, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor:hover > a { color:#ffffff; }

	.menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor { background:#eeeeee; }
	
	.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:#000000; }
	
	.menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before,  .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-highlight.menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:#ffffff; }
	
	.menu-with-small-splitter #main-menu ul.menu > li:before { background:rgba(0, 0, 0, 0.1); }	
	.menu-with-slanting-splitter #main-menu ul.menu > li:before { background:rgba(0, 0, 0, 0.8);  }	
	.left-header #main-menu > ul.menu > li > a, .left-header #main-menu > ul.menu > li:last-child > a { border-color:rgba(0, 0, 0, 0.08); }
	.left-header .dt-sc-dark-bg #main-menu > ul.menu > li > a, .left-header .dt-sc-dark-bg #main-menu > ul.menu > li:last-child > a { border-color:rgba(255, 255, 255, 0.2); }
	
	.boxed-header .main-header, .left-header.left-header-boxed #header-wrapper, 
	#main-menu ul li.menu-item-simple-parent ul, #main-menu .menu-item-megamenu-parent .megamenu-child-container { -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1); }

	.dt-sc-dark-bg .menu-with-slanting-splitter #main-menu ul.menu > li:before { background:rgba(255, 255, 255, 0.8); }
	
	
	/*--------------------------------------------------------------
	6.0 - Sticky Header
	--------------------------------------------------------------*/
	
	.sticky-wrapper { height: auto !important; width:100%; z-index:9999; float:left; position:relative; }
	.sticky-wrapper .main-header-wrapper, .main-header-wrapper { z-index:9999; }
	
	.header-align-center.fullwidth-menu-header .is-sticky .menu-wrapper { left:0px; }
	.header-align-left.fullwidth-menu-header .is-sticky .menu-wrapper, .header-align-center.fullwidth-menu-header .is-sticky .menu-wrapper, .standard-header .is-sticky .main-header-wrapper, .header-on-slider .is-sticky .main-header-wrapper, .fullwidth-header.semi-transparent-header.header-on-slider .is-sticky .main-header-wrapper, .header-align-left.fullwidth-menu-header.semi-transparent-header .is-sticky .menu-wrapper, .header-align-left.transparent-header .is-sticky .menu-wrapper, .transparent-header .is-sticky .main-header-wrapper, .fullwidth-header.transparent-header .is-sticky .main-header-wrapper { background:#ffffff; border-bottom:1px solid rgba(0, 0, 0, 0.05); }
	
	.two-color-header .is-sticky .main-header-wrapper { background:none; border:none; }
	
	.header-align-left .main-header { display:block; }
	
	.header-align-left.fullwidth-menu-header .is-sticky .menu-wrapper { left:0px; }
	.header-align-left.fullwidth-menu-header .is-sticky .menu-wrapper { border-radius:0px; }
	.header-align-left.fullwidth-menu-header .is-sticky #main-menu, .header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu { text-align:center; display:inline-block; float:none; }
	.header-align-left.fullwidth-menu-header .is-sticky .menu-icons-wrapper { display:inline-block; float:none; height:39px; }
	.header-align-left.fullwidth-menu-header .is-sticky .menu-icons-wrapper .search a span, .header-align-left.fullwidth-menu-header .is-sticky .menu-icons-wrapper .cart a span { line-height:50px; }
	.header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu > li, .header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu > li > a { float:none; text-align:center; display:inline-block; }
	
	
	.is-sticky #main-menu > ul.menu > li > a { line-height:70px; }
	.is-sticky .menu-active-with-double-border #main-menu ul.menu > li > a { line-height:66px; }
	
	.is-sticky .menu-icons-wrapper { height:50px; }
	.is-sticky .menu-icons-wrapper .search a span, .is-sticky .menu-icons-wrapper .cart a span { line-height:50px; }
	
	#main-menu ul.menu > li > a > i { margin-right:5px; }
	
	/*.header-on-slider .sticky-wrapper { position:absolute; }*/
	.fullwidth-menu-header.header-on-slider .sticky-wrapper { position: inherit; }
	.header-on-slider .is-sticky { height:70px; }
	
	#header-wrapper.dt-sc-dark-bg .is-sticky .main-header-wrapper { background:rgba(0, 0, 0, 0.9); border:none; }
	.two-color-header #header-wrapper.dt-sc-dark-bg .is-sticky .main-header-wrapper { background:transparent; }
	
	.boxed-header .is-sticky .main-header, .boxed-header.semi-transparent-header .is-sticky .main-header { background:none; }	
	
	.is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before { bottom:10px; }
	.is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .is-sticky .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after { bottom:5px; }
	
	.split-header.transparent-header .is-sticky #main-menu ul.menu > li > a { line-height:66px; }
	
	
	/*--------------------------------------------------------------
	7.0 - Simple Drop Down Menu
	--------------------------------------------------------------*/
	#main-menu ul.menu > li { position:relative; }
	
	#main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul, #main-menu ul li.menu-item-simple-parent ul li ul li ul { display:none; text-align:left; z-index:9999; }
	
	#main-menu ul li.menu-item-simple-parent ul { width:260px; background:#ffffff; padding:10px 0px 10px; position:absolute; top:100%; left:0px; float:left; margin-top:0; -webkit-box-shadow: 0 0 2px 0px rgba(0,0,0,0.25); box-shadow: 0 0 2px 0px rgba(0,0,0,0.25); }
	
	#main-menu ul li.menu-item-simple-parent ul li { display:block; padding:0px 15px; position:relative; width:100%; } 
	#main-menu ul li.menu-item-simple-parent ul li a { color:#000000; position:relative; padding:10px 0px 10px 10px; font-size:14px; line-height:24px; display:block; }
	#main-menu ul li.menu-item-simple-parent ul li:last-child > a { border:none; }
	#main-menu ul li.menu-item-simple-parent ul:after { z-index: -1; }
	
	#main-menu ul li.menu-item-simple-parent ul li ul { left:100%; top:0px; padding-top:5px; }
	
	#main-menu ul li.menu-item-simple-parent:last-child ul, #main-menu ul li.menu-item-simple-parent:nth-last-child(1) ul, #main-menu ul li.menu-item-simple-parent:nth-last-child(2) ul { right:0px; left:auto; }
	#main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-last-child(1) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-last-child(2) ul li ul { right:100%; left:auto; }
	
	#main-menu ul li.menu-item-simple-parent ul li a .fa { margin-right:10px; position:relative; top:-1px; }
	
	#main-menu ul li.menu-item-simple-parent.dt-sc-dark-bg ul li a, #main-menu ul li.menu-item-simple-parent.dt-sc-dark-bg ul li a .fa { color:#ffffff; }
	
	
	/*--------------------------------------------------------------
	8.0 - Mega Menu
	--------------------------------------------------------------*/
	#main-menu ul.menu > li > .megamenu-child-container { display:none; z-index:9999; }
	
	#main-menu .megamenu-child-container { background:#ffffff; padding:10px 10px 0px; position:absolute; top:100%; left:0px; float:left; }
	
	#main-menu .megamenu-child-container img { max-width:100%; }	
	
	
	/*----*****---- << New Menu >> ----*****----*/
	
	#main-menu .megamenu-child-container > ul.sub-menu { padding:0px; margin:0px; text-align:left; }
	#main-menu .megamenu-child-container > ul.sub-menu > li > a, #main-menu .megamenu-child-container > ul.sub-menu > li > .nolink-menu { border-bottom: 5px double rgba(114, 152, 166, 0.15); color:#000000; text-transform:uppercase; font-weight:600; padding:0px; margin-bottom:15px; display:block; font-size:14px; }
	
	#main-menu .megamenu-child-container > ul.sub-menu > li a .fa, #main-menu .megamenu-child-container > ul.sub-menu > li .fa { margin-right: 5px; }
	#main-menu .megamenu-child-container > ul.sub-menu > li .featured-product .featured-tag a .fa, #main-menu .megamenu-child-container > ul.sub-menu > li .featured-product .featured-tag .fa { margin-right: 0; }
	
	#main-menu .megamenu-child-container > ul.sub-menu > li > a .menu-item-description, #main-menu .menu-item-description { color:#696969; display:block; font-weight:normal; padding:0px; text-transform:none; font-size:12px; position:relative; top:-3px; line-height:normal; }
	.dt-megamenu-custom-content { display:block; padding:10px 0px 0px; }
	
	#main-menu .megamenu-child-container ul.sub-menu > li > ul { padding:0px; margin:0px; }
	#main-menu .megamenu-child-container ul.sub-menu > li > ul li { display:block; float: none; padding:0px; }
	
	#main-menu .megamenu-child-container ul.sub-menu > li > ul li, #main-menu .megamenu-child-container ul.sub-menu > li > ul li a { clear:both; }
	
	#main-menu .megamenu-child-container ul.sub-menu > li > ul li a { color:#000000; position:relative; padding:10px 0px; font-size:14px; line-height:24px; display:block; }
	#main-menu .megamenu-child-container ul.sub-menu > li > ul li:last-child a { border:none; }
	#main-menu .megamenu-child-container ul.sub-menu > li > ul li a .fa { margin-right:10px; position:relative; top:-1px; }
	
	#main-menu .megamenu-child-container ul.sub-menu > li > ul > li > ul { padding-left:20px; }
	
	#main-menu .megamenu-child-container > ul.sub-menu > li.fulwidth-image-link > .nolink-menu { padding:0px; }
	#main-menu .megamenu-child-container > ul.sub-menu > li.fulwidth-image-link ul.sub-menu { padding-top:0px; }
	#main-menu .megamenu-child-container > ul.sub-menu > li.fulwidth-image-link img { max-width:100%; }
	
	#main-menu .megamenu-child-container.dt-sc-dark-bg > ul.sub-menu > li > a, #main-menu .megamenu-child-container.dt-sc-dark-bg > ul.sub-menu > li > .nolink-menu, #main-menu .megamenu-child-container.dt-sc-dark-bg ul.sub-menu > li > ul li a, #main-menu .megamenu-child-container.dt-sc-dark-bg ul.sub-menu > li > ul li a .fa { color:#ffffff; }
	#main-menu .megamenu-child-container.dt-sc-dark-bg > ul.sub-menu > li > a .menu-item-description, #main-menu .dt-sc-dark-bg .menu-item-description { color:rgba(255, 255, 255, 0.5); }	
	
	.dt-sc-dark-bg ul.menu li ul, .dt-sc-dark-bg ul.menu li h2, .dt-sc-dark-bg ul.menu li h3, .dt-sc-dark-bg ul.menu li h4, .dt-sc-dark-bg ul.menu li h5, .dt-sc-dark-bg ul.menu li h6 { color:#000000; }
	
	#main-menu .megamenu-child-container { overflow: hidden; }
	#main-menu .megamenu-child-container { background-image: url("../images/custom-bg-parallax.png"); background-size: cover; }

	#main-menu .megamenu-child-container:before, #main-menu .megamenu-child-container:after { content: ""; height: auto; margin: auto; padding-top: 25%; pointer-events: none; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: 50%; z-index: -1; -webkit-transform: skewX(-10deg) translateX(-25px); transform: skewX(-10deg) translateX(-25px); }
	#main-menu .megamenu-child-container:before, #main-menu .megamenu-child-container:after { background-color: rgba(114, 152, 166, 0.075); }


	#main-menu .megamenu-child-container:before { left: -25%; right: auto; }
	#main-menu .megamenu-child-container:after { left: auto; right: -25%; }

	#main-menu ul li.menu-item-simple-parent ul:before, #main-menu ul li.menu-item-simple-parent ul:after { border-style: solid; border-color: transparent; content: ""; position: absolute; width: 0; }
	#main-menu ul li.menu-item-simple-parent ul:before { border-width: 50px 200px 0 0; border-top-color: rgba(114, 152, 166, 0.15); left: 0; top: 0; }
	#main-menu ul li.menu-item-simple-parent ul:after { border-width: 0 0 50px 200px; border-bottom-color: rgba(114, 152, 166, 0.15); bottom: 0; right: 0; }

	
	/*--------------------------------------------------------------
	9.0 - Mobile Menu
	--------------------------------------------------------------*/
	.dt-menu-toggle { display:none; color:#ffffff; font-size:16px; font-weight:bold; text-transform:uppercase; padding:10px 15px; cursor:pointer; position:relative; z-index:1; }
	.dt-menu-toggle-icon { background:#ffffff; display:inline-block; height:2px; position:absolute; text-align:left; width:20px; right:15px; top:0px; bottom:0px; margin:auto; }
	.dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after { content:""; position:absolute; background:#ffffff; height:2px; width:20px; left:0px; top:-5px; }
	.dt-menu-toggle-icon:after { top:5px; }
	
	#main-menu ul.menu li a.dt-menu-expand { border:none !important; cursor:pointer; display: none; font-family:FontAwesome; font-weight:normal; font-size:20px; height:38px; line-height:38px; margin:auto; padding: 0 !important; position:absolute !important; right: 0; top: 0; text-align:center; width:38px !important; }
	.header-align-left.fullwidth-menu-header .is-sticky #main-menu ul.menu > li > a.dt-menu-expand { display:none; }
	#main-menu ul li.menu-item-simple-parent.menu-links-with-bg ul > li > a.dt-menu-expand, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.single ul > li > a.dt-menu-expand:before { display:none; }
	#main-menu .menu-item-megamenu-parent.menu-title-with-bg a.dt-menu-expand { height:44px; line-height:44px; margin:0px; }
	#main-menu ul.menu li a.dt-menu-expand.dt-mean-clicked { font-family:monospace; }
	
	
	/*----*****---- << New Styles >> ----*****----*/
	#main-menu ul li.menu-item-simple-parent ul > li > a, #main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a { margin-bottom: 5px; position: relative; }
	
	#main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li:last-child > a { border-width: 1px; }
	
	#main-menu ul li.menu-item-simple-parent ul > li > a:after, #main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a:after { border-width: 1px; border-style: solid; border-color: transparent; content: ""; display: inline-block; height: 100%; opacity: 0; filter: alpha(opacity=0); pointer-events: none; position: absolute; left: 0; top: 0; visibility: hidden; width: 100%; -webkit-border-radius: inherit; border-radius: inherit; -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; }

	#main-menu ul li.menu-item-simple-parent ul > li > a:hover:after, #main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a:hover:after { opacity: 1; filter: alpha(opacity=100); visibility: visible; }
	
	#main-menu .menu-item-megamenu-parent .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li > a, #main-menu ul li.menu-item-simple-parent ul > li:last-child > a, #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > a, #main-menu .menu-item-megamenu-parent .megamenu-child-container > ul.sub-menu > li > .nolink-menu { padding: 10px 8px; }	
	
	
	#main-menu ul li.menu-item-simple-parent.with-box-shadow ul, #main-menu .menu-item-megamenu-parent.with-box-shadow .megamenu-child-container { -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
	
	/*----*****---- << Mega Menu Title With Background >> ----*****----*/
	#main-menu .menu-item-megamenu-parent.menu-title-with-bg .megamenu-child-container > ul.sub-menu > li > a, #main-menu .menu-item-megamenu-parent.menu-title-with-bg .megamenu-child-container > ul.sub-menu > li > .nolink-menu { padding:10px 15px; margin-bottom:10px;  }
	
	#main-menu .megamenu-child-container.menu-hasbg { background-color:#ffffff; background-position:right bottom; background-repeat:no-repeat; }
	
	/*----*****---- << Mega Menu Title With Border >> ----*****----*/
	#main-menu .menu-item-megamenu-parent.menu-title-with-border .megamenu-child-container > ul.sub-menu > li > a, #main-menu .menu-item-megamenu-parent.menu-title-with-border .megamenu-child-container > ul.sub-menu > li > .nolink-menu { padding-bottom:10px; }
	
	/*----*****---- << Mega Menu Links With Background >> ----*****----*/
	#main-menu .menu-item-megamenu-parent.menu-links-with-bg .megamenu-child-container ul.sub-menu > li > ul > li, #main-menu .menu-item-megamenu-parent.menu-links-with-border .megamenu-child-container ul.sub-menu > li > ul > li { width:100%; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-bg .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-bg ul > li > a { padding:7px 12px; margin-bottom:7px;  float:left; width:100%; display:inline-block; }
	
	/*----*****---- << Mega Menu Links With Border >> ----*****----*/
	#main-menu .menu-item-megamenu-parent.menu-links-with-border .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-border ul > li > a { padding-bottom:10px; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-border .megamenu-child-container ul.sub-menu > li > ul > li:last-child > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-border ul > li:last-child > a { border:none !important; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-border .megamenu-child-container ul.sub-menu > li > ul > li > a {  float:left; width:100%; display:inline-block; } 
	
	/*----*****---- << Mega Menu Links With Arrow >> ----*****----*/
	#main-menu .menu-item-megamenu-parent.menu-links-with-arrow .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow ul > li > a { padding-left: 25px; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-arrow .megamenu-child-container ul.sub-menu > li > ul > li > a:before, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow ul > li > a:before { position:absolute; left:10px; font-family:FontAwesome; font-size:14px; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-arrow.single .megamenu-child-container ul.sub-menu > li > ul > li > a:before, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.single ul > li > a:before { content:"\f105"; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-arrow.double .megamenu-child-container ul.sub-menu > li > ul > li > a:before, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.double ul > li > a:before { content:"\f101"; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-arrow.disc .megamenu-child-container ul.sub-menu > li > ul > li > a:before, #main-menu ul li.menu-item-simple-parent.menu-links-with-arrow.disc ul > li > a:before { content:"\f111"; font-size:8px; }	
	
	#main-menu .menu-item-megamenu-parent.menu-links-with-bg.menu-links-with-arrow .megamenu-child-container ul.sub-menu > li > ul > li > a, #main-menu ul li.menu-item-simple-parent.menu-links-with-bg.menu-links-with-arrow ul > li > a { padding-left:27px; }
	#main-menu .menu-item-megamenu-parent.menu-links-with-bg.menu-links-with-arrow .megamenu-child-container ul.sub-menu > li > ul > li > a:before, #main-menu ul li.menu-item-simple-parent.menu-links-with-bg.menu-links-with-arrow ul > li > a:before { left:12px; }
   
	
	#main-menu ul li ul.children, #main-menu ul li ul li ul.children, #main-menu ul li ul li ul li ul.children { display:none; }
	#main-menu ul li:hover > ul.children, #main-menu ul li ul li:hover ul.children, #main-menu ul li ul li ul li:hover ul.children { display:block; }
	
	#main-menu ul li ul.children { background: #ffffff; float: left; left: 0; padding: 10px 0; position: absolute; top: 100%; width: 260px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); margin:0; text-align:left; z-index: 1; }
	#main-menu ul li ul.children li { box-sizing: border-box; display: block; padding: 0 15px; position: relative; width: 100%; }
	#main-menu ul li ul.children li a { color: #000000; display: block; font-size: 14px; line-height: 24px; padding: 10px 0 10px 10px; position: relative; } 
	#main-menu ul li ul li ul.children { left: 100%; padding-top: 5px;  top: -10px;  }
	
	.left-header #main-menu ul li ul.children { left:100%; top:-10px; }
	
	
	/*--------------------------------------------------------------
	10.0 - Slider
	--------------------------------------------------------------*/
	
	#slider { float:left; clear:both; width:100%; margin:0px; padding:0px; display:block; line-height:0px; }
	#slider img { max-width:100%; }
	
	
	/*--------------------------------------------------------------
	11.0 - Title & Breadcrumb
	--------------------------------------------------------------*/
	
	.section-wrapper { float:left; clear:both; width:100%; margin-bottom:0px; padding:0px; }
	.section-wrapper.fullwidth-section > .container { width:100%; }
	.section-wrapper.fullwidth-section { position:relative;  }
	.dark-overlay, .extend-bg-fullwidth-left, .extend-bg-fullwidth-right, .light-overlay { position:relative; }
	.dark-overlay:before, .light-overlay:before { position:absolute; content:""; width:100%; height:100%; left:0px; top:0px; display:inline !important; z-index:0; }
	
	.section-wrapper .container { z-index:9; }
		
	.main-title-section-wrapper { float:left; width:100%; margin:0px 0px 65px; padding:40px 0px 43px; position: relative; clear:both; background-color:rgba(0, 0, 0, 0.05); }
	.main-title-section-wrapper.dt-sc-dark-bg { background-color:rgba(0, 0, 0, 0.7); }
	
	.header-on-slider .main-title-section-wrapper { background: rgba(0, 0, 0, 0); }
	.header-on-slider .main-title-section-wrapper:before { background: rgba(0, 0, 0, 0.05); content: ""; height: 350%; position: absolute; bottom: 0; left: 0; width: 100%; z-index: -1; }
	
	.home.header-on-slider #header-wrapper, .header-on-slider.no-breadcrumb #main { min-height: 140px; }
	.home #header-wrapper { margin-bottom: 50px; }
	.no-breadcrumb #main { margin-top: 50px; }
	
	.page-with-slider.header-below-slider #slider, .home.overlay-header #header-wrapper { margin-bottom:0; }
	.page-with-slider.overlay-header #slider, .page-with-slider.left-header #slider { margin-bottom:50px; }
	
	.home.header-on-slider.page-with-slider .main-title-section-wrapper { padding-top:90px; }
	/*.header-on-slider.no-breadcrumb #main { margin-top:90px; }*/
	.home.header-on-slider.page-with-slider #main, .header-on-slider.page-with-slider #main { margin-top:0; }
	
	
	.main-title-section { float:left; width:100%; margin:0px; padding:0px; position:relative; pointer-events:none; }
	.main-title-section h1 { font-size:30px; font-weight:700; color:#000000; text-transform:uppercase; margin-bottom:0; }	
	
	.breadcrumb { clear:both; float:left; width:100%; margin:0px; padding:0px; font-size:13px; font-weight:500; color:rgba(0, 0, 0, 0.6); }
	.breadcrumb a { color:#000000; }	
	.breadcrumb .fa { display:inline-block; margin:0px 4px; padding:0px; }
	.breadcrumb span.current { color:rgba(0, 0, 0, 0.5); }
	
	.breadcrumb .fa.default { display:inline-block; height:14px; width:1px; -webkit-transform:rotate(30deg);  -moz-transform-origin:0 0;  -moz-transform:rotate(30deg);  -ms-transform-origin:0 0;  -ms-transform:rotate(30deg);  transform-origin:0 0; transform:rotate(30deg); background:#000000; top:3px; position:relative; margin:0px 5px 0px 10px; }
	
	.main-title-section.aligncenter, .main-title-section-wrapper.aligncenter .main-title-section h1 { text-align:center; }
	.main-title-section.alignright { text-align:right; }
	
	.main-title-section-wrapper.breadcrumb-left .breadcrumb { clear:none; float:left; width:35%; padding-right:20px;  margin-top:13px; }
	.main-title-section-wrapper.breadcrumb-left .main-title-section { float:right; width:65%; text-align:right; }
	.main-title-section-wrapper.breadcrumb-right .breadcrumb { clear:none; float:right; text-align:right; width:35%; padding-left:20px;  margin-top:13px; }
	.main-title-section-wrapper.breadcrumb-right .main-title-section { float:left; width:65%; }
	
	.main-title-section-wrapper.breadcrumb-top-left-title-center .main-title-section { width:100%; text-align:center; }
	.main-title-section-wrapper.breadcrumb-top-left-title-center .breadcrumb { margin-top:-70px; width:100%; float:left; }
	
	.main-title-section-wrapper.breadcrumb-top-right-title-center .main-title-section { width:100%; text-align:center; }
	.main-title-section-wrapper.breadcrumb-top-right-title-center .breadcrumb { margin-top:-70px; width:100%; float:right; text-align:right; }
	
	.dt-sc-dark-bg .breadcrumb { color:rgba(255, 255, 255, 0.6); }
	.dt-sc-dark-bg .breadcrumb a { color:#ffffff; }	
	.dt-sc-dark-bg .breadcrumb a:hover, .dt-sc-dark-bg .breadcrumb span.current { color:rgba(255, 255, 255, 0.6); }
	.dt-sc-dark-bg .breadcrumb .fa.default { background:#ffffff; }
	
	.page.header-on-slider.transparent-header .dt-sc-dark-bg .main-header-wrapper { background:transparent; }
	.home-page.page.header-on-slider.transparent-header .dt-sc-dark-bg .main-header-wrapper { background:transparent; }
	
	.fullwidth-header.semi-transparent-header .dt-sc-dark-bg .main-header-wrapper, .boxed-header.semi-transparent-header .dt-sc-dark-bg .main-header, .left-header.semi-transparent-header .dt-sc-dark-bg .main-header-wrapper, .left-header.semi-transparent-header .dt-sc-dark-bg .main-header, .icon-menu-header.semi-transparent-header .dt-sc-dark-bg .main-header-wrapper { background:rgba(0, 0, 0, 0.7); }
	
	
	/*--------------------------------------------------------------
	12.0 - Footer
	--------------------------------------------------------------*/
	
	#footer { width:100%; float:left; clear:both; margin:0px; }
	.footer-widgets { padding: 80px 0 50px; width:100%; float:left; clear:both; margin:0px; background-color:#fff; }

	#footer .container { z-index:9; }
	
	.footer-copyright .alignright img { float:right; }
	
	.footer-copyright { float:left; margin:0px; padding:30px 0px; width:100%; clear:both; }
	.footer-copyright .container:before { border-top: 1px solid #292929; content: ""; height: 0; position: absolute; top: -30px; left: 0; width: 100%; }
	.copyright-left { width:48%; float:left; margin:0px; padding:0px; }
	.copyright-right { float:right; margin:0px; padding:0px; width:48%; text-align:right; }
	
	.footer-copyright .menu-links { display: inline-block; margin:0px; padding:0px; text-align:right; }
	.footer-copyright .menu-links li { margin: 0  0  0 10px; display:inline-block; padding: 0; float:none; }

	.footer-copyright ul.menu-links li a:after { background-color: rgba(255, 255, 255, 0.6); content: ""; display: inline-block; height: 15px; margin: 0 0 0 15px; vertical-align: middle; width: 1px; }
	.footer-copyright ul.menu-links li:last-child a:after { content: none; }	
	
	.aligncenter .menu-links { text-align:center; }
	.aligncenter .menu-links li { float:none; display:inline-block; text-align:center; }
	
	.menu-links.with-splitter li { margin:0px; }
	.footer-copyright .menu-links.with-splitter li a { padding:0px 15px; border-right:1px solid;   }
	.footer-copyright .menu-links.with-splitter li:last-child a { border-right:0px; }

	.footer-copyright .column:only-child, .footer-copyright .column.align-center { text-align: center; width: 100%; color: #000000; text-transform: uppercase; }
	
	
	.copyright-align-center { text-align:center; }
	.copyright-align-center .copyright-left, .copyright-align-center .copyright-right, .copyright-align-center .dt-sc-sociable, .copyright-align-center .copyright-right { text-align:center; width:100%; float:left; clear:both; margin:10px 0px; }
	.copyright-align-center .menu-links, .copyright-align-center .dt-sc-sociable { text-align:center; }
	.copyright-align-center .menu-links li, .copyright-align-center .dt-sc-sociable li, .copyright-align-center .dt-sc-sociable li a { float:none; display:inline-block; text-align:center; }
	
	.custom-social li a span { margin:0px 10px 0px 0px; font-size:18px; width:20px; text-align:center; }
	
	.copyright-right .dt-sc-sociable { text-align:right; width:100%; }
	.copyright-right .dt-sc-sociable li { float:none; display:inline-block; text-align:right; }	
	
	.dt_ajax_subscribe_msg .success-msg { color: #15d401; }
	.dt_ajax_subscribe_msg .error-msg { color:#bd0404; }
	
	
	/*--------------------------------------------------------------
	13.0 - Side Navigation
	--------------------------------------------------------------*/
	
	.side-navigation { width:27%; float:left; margin:0px 2% 0px 0px; padding:0px; }
	.side-navigation-content { width:71%; float:left; margin:0px; padding:0px; }
	
	.side-navigation-content img { max-width:100%; }
	
	.side-nav-container { float:left; margin:0px; padding:0px; width:98%; }
	ul.side-nav { border:1px solid; border-bottom:0px; margin:0px; padding:0px; float:left; width:100%; }
	ul.side-nav li { float:left; width:100%; display:block; padding:0px; border-bottom:1px solid; }
	ul.side-nav li a { color:#2d2d29; padding:12px 0px 11px 60px; display:block; position:relative; }
	ul.side-nav li a:before { content:"\f0da"; font-family:FontAwesome; font-style:normal; font-weight:normal; color:#444446; position:absolute; left:0; top:0; margin:auto; width:45px; height:100%; text-align:center; line-height:47px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	ul.side-nav > li.current_page_item > a:after, ul.side-nav > li > ul > li.current_page_item > a:after { content:""; position:absolute; background:url(images/side-nav-active.png) no-repeat; width:11px; height:46px; right:-11px; top:0px; }

	ul.side-nav li a:hover:before, ul.side-nav > li.current_page_item > a:before, ul.side-nav > li > ul > li.current_page_item > a:before, ul.side-nav > li > ul > li > ul > li.current_page_item > a:before { color:#ffffff; }
	
	ul.side-nav li ul { border-top:1px solid; margin:0px; padding-left:0px; }
	ul.side-nav li ul li:last-child { border:none; padding-bottom:0px; }
	ul.side-nav li ul li a { padding-left:85px; }
	ul.side-nav ul ul li a { padding-left:120px; }
	
	ul.side-nav li a:before, ul.side-nav > li > a:hover, ul.side-nav > li > ul > li > a:hover, ul.side-nav > li > ul > li > ul > li > a:hover, ul.side-nav > li.current_page_item > a, ul.side-nav > li > ul > li.current_page_item > a, ul.side-nav > li > ul > li > ul > li.current_page_item > a { background:#ededed; }
	ul.side-nav, ul.side-nav li, ul.side-nav li ul { border-color:#e3e3e3; }
	
	ul.side-nav li a:before, ul.side-nav > li > a:hover, ul.side-nav > li > ul > li > a:hover, ul.side-nav > li > ul > li > ul > li > a:hover { color:#2d2d29; }
	
	/*--------------------------------------------------------------
	14.0 - Style Picker
	--------------------------------------------------------------*/
	.dt-style-picker-wrapper { position:fixed; z-index:99999; left:0px; top:150px; }
	#dt-style-picker { background:#f9f9f9; width:225px; float:left; position:absolute; top:0px; z-index:1; margin:0px; padding:0px; text-align:center; }
	#dt-style-picker h2 { font-size:17px; font-weight:normal; line-height:48px; text-transform:capitalize; width:100%; color:#fff; margin:0px; padding:0px; background-color:#1a1a1a; }
	#dt-style-picker h3 { font-size:15px; font-weight:normal; padding:15px 0; width:100%; color:#000; margin:0px; display:inline-block; }
	#dt-style-picker ul { float:left; margin:0px; padding:15px 0px; text-align:center; width:225px; background-image:linear-gradient(to bottom, #f7f4f4, #ffffff); border-top:1px solid rgba(23, 24, 26, 0.08); }
	#dt-style-picker ul li { display:inline-block; display:inline; list-style-type:none; padding:0px; margin:0px 4px 6px 4px; }
	#dt-style-picker ul li a { background:#f9f9f9; border:1px solid #ffffff; padding:3px; display:inline-block; margin:0px; line-height:0; }
	#dt-style-picker ul li a.selected, #dt-style-picker ul li a:hover { border:1px solid #d7d7d7; }
	#dt-style-picker ul li a img, .style-picker-ico > img{border:1px solid #f0f0f0;}
	#dt-style-picker ul.scheme-picker li a { padding:7px; }
	#dt-style-picker ul.scheme-picker li a img { height:auto; border:0; }
	#dt-style-picker .hr { width:100%; height:10px; display:block; float:left; clear:both; position:relative; z-index:1; margin:3px 0px; }
	.style-picker-ico { background:#1a1a1a; height:48px; left:224px; position:absolute; text-align:center; top:0px; width:50px; border-left:0; }
	.style-picker-ico > i { color:#fff; font-size:27px; line-height:47px; }
	.style-picker-ico.control-open > i:before { content: "\eb69"; font-family: 'IcoMoon-Ultimate'; }
	#dt-style-picker h3.color-scheme { background:#1a1a1a; color:#fff; }
	
		
	/*--------------------------------------------------------------
	15.0 - Loader
	--------------------------------------------------------------*/
	.loader { height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999991; }
	.loader-inner { left: 50%; position:absolute; top: 50%; }
	
	
	.dt-loading-text-with-icon { color: #fff; display: block; font-size: 16px; font-weight: bold; letter-spacing: 4px; margin: auto; position: absolute; left: 50%; top: 50%; text-align: center; text-transform: uppercase; width: 150px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	.dt-loading-text-with-icon:before { background-image: url("../images/icon-logo-white.png"); background-position: center center; background-repeat: no-repeat; background-size: 75% auto; content: ""; display: inline-block; height: 114px; margin: auto; position: absolute; bottom: 100%; left: 0; right: 0; width: 94px; -webkit-animation: bounce 1.5s infinite; animation: bounce 1.5s infinite; }

	keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
		    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		    transform: translate3d(0, 0, 0);
		}
		40% {
		    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		    transform: translate3d(0, -2em, 0);
		}
		70% {
		    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		    transform: translate3d(0, -1em, 0);
		}
		90% {
		    transform: translate3d(0, -0.25em, 0);
		}
	}

	/*--------------------------------------------------------------
	16.0 - Totop
	--------------------------------------------------------------*/
	#toTop { border:none; color: #f57516; display:none; font-size: 13px; font-weight: bold; height:60px; line-height: 60px; opacity:0.8; position:fixed; bottom:15px; right:15px; text-align: center; text-decoration:none; width:60px; z-index:999; }
	#toTop:hover, #toTop span { opacity:1; }
	#toTop:active, #toTop:focus { outline:none; }

	#toTop:before, #toTop:after, #toTop span { content: ""; display: table; }
	#toTop:before, #toTop:after, #toTop span {
		height: 0px;
		margin: auto;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		width: 0px;
		-webkit-animation: enlarge_1 2s infinite;
		-moz-animation: enlarge_1 2s infinite;
		-ms-animation: enlarge_1 2s infinite;
		-o-animation: enlarge_1 2s infinite;
		animation: enlarge_1 2s infinite;
	}

	#toTop:after {
		-webkit-animation: enlarge_2 2s infinite 0.5s;
		-moz-animation: enlarge_2 2s infinite 0.5s;
		-ms-animation: enlarge_2 2s infinite 0.5s;
		-o-animation: enlarge_2 2s infinite 0.5s;
		animation: enlarge_2 2s infinite 0.5s;
	}

	#toTop span {
		-webkit-animation: enlarge_3 2s infinite 0.75s;
		-moz-animation: enlarge_3 2s infinite 0.75s;
		-ms-animation: enlarge_3 2s infinite 0.75s;
		-o-animation: enlarge_3 2s infinite 0.75s;
		animation: enlarge_3 2s infinite 0.75s;
	}	



	@keyframes enlarge_1 {
		from {
			opcatiy: 1;
			border-left: 2px solid transparent;
			border-right: 2px solid transparent;
			border-bottom: 4px solid #90cdf2;
			margin-top: 0px;
		}
		to {
			opacity: 0;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 60px solid #90cdf2;
			margin-top: -60px;
		}
	}

	@keyframes enlarge_2 {
		from {
			opcatiy: 1;
			border-left: 2px solid transparent;
			border-right: 2px solid transparent;
			border-bottom: 4px solid #d390f2;
			margin-top: -4px;
		}
		to {
			opacity: 0;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 60px solid #d390f2;
			margin-top: -60px;
		}
	}

	@keyframes enlarge_3 {
		from {
			opcatiy: 1;
			border-left: 2px solid transparent;
			border-right: 2px solid transparent;
			border-bottom: 4px solid #ea9071;
			margin-top: -4px;
		}
		to {
			opacity: 0;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 60px solid #ea9071;
			margin-top: -60px;
		}
	}	

	/*--------------------------------------------------------------
	17.0 - Default Color
	--------------------------------------------------------------*/
	
	.main-header #searchform { border-color:#e5e5e5; }
	.main-header #searchform:before { color:#c2c2c2; }
	.main-header #searchform input[type="text"], .cart-info:before, .cart-total:before { color:#aaaaaa; }
	
	.fullwidth-menu-header .menu-wrapper { border-top-color:#eeeeee; border-bottom-color:#eeeeee; }
	.boxed-header .main-header, .left-header .main-header-wrapper, .main-header #searchform { background:#ffffff; }
	
	
	/*----*****---- << Top bar >> ----*****----*/
	.top-bar { background:#eeeeee; color:#000; }
	.dt-sc-dark-bg.top-bar a { color:#ffffff; }

	.top-bar a:hover { color:#000; }	
	.top-bar.dt-sc-dark-bg a:hover { color: rgba(255, 255, 255, 0.6);}
	
	
	/*----*****---- << Fullwidth Header >> ----*****----*/
	.transparent-header .main-header-wrapper, .transparent-header .menu-wrapper, .transparent-header .dt-sc-dark-bg .main-header-wrapper, .fullwidth-header.transparent-header .main-header-wrapper  { background:none; }
	
	.main-header-wrapper { background:rgba(255,255,255,1); }
	.dt-sc-dark-bg .main-header-wrapper { background:rgba(0,0,0,1); }
	
	
	/*----*****---- << Two Color Header >> ----*****----*/
	.two-color-header.semi-transparent-header .dt-sc-dark-bg .main-header-wrapper:after, .two-color-header.transparent-header .dt-sc-dark-bg .is-sticky .main-header-wrapper:after { background:rgba(0,0,0,0.7); }
	
	.two-color-header.semi-transparent-header .main-header-wrapper:after, .two-color-header.transparent-header .is-sticky .main-header-wrapper:after, .fullwidth-header.semi-transparent-header .main-header-wrapper, .left-header.semi-transparent-header .main-header-wrapper, .left-header.semi-transparent-header .main-header { background:rgba(255,255,255,0.7); }
	.two-color-header .dt-sc-dark-bg .main-header-wrapper:after { background:#000000; }
	
	.two-color-header.semi-transparent-header #main-header-wrapper.main-header-wrapper, .two-color-header.transparent-header .main-header-wrapper, .two-color-header.transparent-header .main-header-wrapper:after, .two-color-header.transparent-header .main-header-wrapper:before, .two-color-header.standard-header .is-sticky .main-header-wrapper, .two-color-header .main-header-wrapper { background:none; }
	
	.two-color-header .main-header-wrapper:after { background:rgba(255,255,255,1); }
	
	/*----*****---- << Boxed Header >> ----*****----*/
	.boxed-header.semi-transparent-header .main-header, .semi-transparent-header.boxed-header .is-sticky .main-header-wrapper { background:rgba(255,255,255,0.7); }
	
	.page.header-on-slider.boxed-header.transparent-header .dt-sc-dark-bg .is-sticky .main-header, .boxed-header.transparent-header .dt-sc-dark-bg .main-header, .boxed-header.transparent-header .dt-sc-dark-bg .is-sticky .main-header, .boxed-header .dt-sc-dark-bg .main-header-wrapper, .boxed-header .dt-sc-dark-bg .is-sticky .main-header, .boxed-header .main-header-wrapper, .semi-transparent-header.boxed-header .main-header-wrapper, .transparent-header.boxed-header .main-header, .page.header-on-slider.boxed-header.transparent-header .dt-sc-dark-bg .main-header-wrapper, .boxed-header.transparent-header .dt-sc-dark-bg .main-header-wrapper, .boxed-header.semi-transparent-header .dt-sc-dark-bg .is-sticky .main-header { background:none; }
	
	.boxed-header .main-header { background:rgba(255,255,255,1); }
	.boxed-header .dt-sc-dark-bg .main-header { background:rgba(0,0,0,1); }

	/*----*****---- << Left Header >> ----*****----*/
	.left-header-footer .dt-sc-sociable.filled li a:hover { color:#000000; }
	.left-header-footer p { color:rgba(0, 0, 0, 0.4); }
	.left-header-footer .dt-sc-sociable.filled li a { background:#000000 !important;}
	.left-header-footer .dt-sc-sociable.filled li a:hover { background:rgba(0, 0, 0, 0.1) !important; }
	
	.transparent-header.left-header .main-header-wrapper, .transparent-header.left-header .main-header, .left-header.transparent-header #header-wrapper, .left-header.transparent-header .dt-sc-dark-bg .main-header-wrapper, .left-header.transparent-header .dt-sc-dark-bg .main-header { background:none; }
	
	.left-header .main-header-wrapper, .left-header .main-header { background:rgba(255,255,255,1); }
	.left-header .dt-sc-dark-bg .main-header-wrapper, .left-header .dt-sc-dark-bg .main-header { background:rgba(0,0,0,1); }
	
	/*----*****---- << Header Menu Icons Wrapper >> ----*****----*/
	.cart-info { background:#f3f3f3; }
	.menu-icons-wrapper.rounded-icons .search a span, .menu-icons-wrapper.rounded-icons .cart a span, .dt-sc-vertical-small-separator, .cart-icon span, .live-chat a:hover { background:#000000; }
	
	.menu-icons-wrapper .search a, .menu-icons-wrapper .cart a { color:#000000; }
	.dt-sc-dark-bg .menu-icons-wrapper .search a, .dt-sc-dark-bg .menu-icons-wrapper .cart a, .cart-icon span, .menu-icons-wrapper.rounded-icons .search a span, .menu-icons-wrapper.rounded-icons .cart a span { color:#ffffff; }
	
	.menu-icons-wrapper .top-menu-search-container .search-form { background:#ffffff; }
	
	/*----*****---- << Footer >> ----*****----*/

	#footer .dt-sc-dark-bg, .footer-widgets.dt-sc-dark-bg, 
	#footer .dt-sc-dark-bg a, .footer-widgets.dt-sc-dark-bg a, 
	#footer .footer-copyright.dt-sc-dark-bg, #footer .footer-copyright.dt-sc-dark-bg a { color:#000000; }

	#footer .dt-sc-dark-bg h3, #footer .dt-sc-dark-bg h3 a,
	#footer .dt-sc-dark-bg .recent-posts-widget li .entry-meta a:hover, #footer .dt-sc-dark-bg .entry-title h4 a:hover, 
	#footer .dt-sc-dark-bg a:hover, #footer .footer-copyright.dt-sc-dark-bg a:hover { color:#000000; }

	.footer-widgets, #footer, .footer-copyright { color:#777; }
.footer-widgets p { text-align: center;}
.footer-widgets .textwidget { text-align: center;}
.footer-widgets .textwidget img {display: inline-block;}
.footer-widgets a, #footer a { color:#000000;}
	#footer h3 { color:#1d7ab1; font-weight: 600; text-transform: uppercase; }
#footer a:hover, .left-header-footer .dt-sc-sociable.filled li a { color: #f68228;}

	.footer-copyright .menu-links.with-splitter li a { border-right-color:rgba(0, 0, 0, 0.2); }
	#footer .tweet_list li { border-color:rgba(255, 255, 255, 0.15); }
	.dt-sc-dark-bg.footer-copyright .menu-links.with-splitter li a { border-right-color:rgba(255, 255, 255, 0.2); }
	
	#footer .mailchimp-form input[type="submit"], #footer .dt-sc-sociable.filled li a { color:#ffffff; }
	#footer .mailchimp-form input[type="email"] { color:rgba(255, 255, 255, 0.5); }

	.footer-widgets.dt-sc-dark-bg, .footer-copyright.dt-sc-dark-bg { background:#111111; }