

/* Table of Content
==================================================
	1.0 - Transition
	1.1 - Widgets
	1.2 - Sidebar
	1.3 - Mega Menu
	1.4 - Footer
	1.5 - Default Color
	1.6 - bbpress
	1.7 - Buddypress
	1.8 - Events Calendar	
	1.9 - Woocommerce
	1.10 - Default Color */

	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.widget .recent-portfolio-widget ul li a:before, .widget .recent-portfolio-widget ul li a:after, .widget ul li:before, .widget.widget_categories ul li > a:hover span, .widget.widget_archive ul li > a:hover span, .flickr-widget div a img, .widget.widget_categories ul li > a span, .widget.widget_archive ul li > a span, .widget ul li:hover:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	

	/*--------------------------------------------------------------
	1.1 - Widgets
	--------------------------------------------------------------*/
	.widgettitle { margin:24px 0px 40px; position:relative; clear:both; }
	.widgettitle:before { content:""; position:absolute; left:0px; height:2px; width:30px; top:-24px; }
	
	.widget { float: left; margin-bottom: 40px; width: 100%; }
	.widget ul { padding:0px; margin:0px; width:100%; float:left; clear:both; }

	.widget ul li { border-bottom:1px solid; clear:both; display:block; margin:0px; padding:10px 0px 10px 20px; position:relative; width:100%; }
	.widget > ul > li:last-child { border-bottom-width: 0; }
	.widget > ul > li:only-child { border-bottom-width: 1px; }	

	.widget ul li > a, .widget.widget_nav_menu ul.menu li > a { display:inline-block; line-height:24px; width:100%;  }
	.widget ul li:last-child > a { padding-bottom:0px; }

	.widget ul li:first-child, .widget.widget_nav_menu ul.menu li:first-child { padding-top:0px; }
	
	.widget ul li:before { content:"\f10c"; font-family:FontAwesome; font-size:11px; position:absolute; left: 1px; top:10px; }
	.widget ul li:hover:before { content:"\f192"; }
	
	.widget ul li:first-child:before { top: 0; }
	.woocommerce .widget ul.product-categories li:first-child:before, .woocommerce.widget ul.product-categories li:first-child:before, .widget.widget_layered_nav ul li:first-child:before { top: 10px; }

	
	.widget.widget_pages ul li ul.children, .widget.widget_nav_menu ul li ul.sub-menu { padding:10px 0px 0px 20px; width:100%;  }
	.widget.widget_archive ul li ul, .widget.widget_categories ul li ul, .widget.widget_pages ul li ul, .widget.widget_nav_menu ul.menu li ul { padding-left: 15px; padding-top: 10px; }

	
	.widget.widget_nav_menu ul.menu li a { text-transform:lowercase; padding:0px; font-weight:normal; background:none; border:none; }
	.widget.widget_nav_menu ul.menu li a:first-letter { text-transform:uppercase; }
	
	.widget.widget_archive ul li, .widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_meta ul li, .widget.widget_nav_menu ul.menu li, .widget.widget_text ul li { padding:0px; }
	.widget.widget_archive ul li > a, .widget.widget_categories ul li > a, .widget.widget_pages ul li > a, .widget.widget_meta ul li > a, .widget.widget_nav_menu ul.menu li > a, .widget.widget_text ul li > a { padding:10px 0 10px 20px; }
	.widget.widget_archive ul li:first-child > a, .widget.widget_categories ul li:first-child > a, .widget.widget_pages ul li:first-child > a, .widget.widget_meta ul li:first-child > a, .widget.widget_nav_menu ul.menu li:first-child > a, .widget.widget_text ul li:first-child > a { padding-top:0px; }
	
	.widget .recent-portfolio-widget ul li:before, .widget .recent-posts-widget li:before, .widget .recent-posts-widget li:hover:before { content:""; }
	
	.widget.widget_categories ul li > a { position:relative; text-transform:capitalize; }
	.widget.widget_categories ul li > a span, .widget.widget_archive ul li > a span { position:absolute; right:0px; padding:0px 10px; }
	
	.widget_categories label, .widget_archive label { margin:0px 0px 10px; display:inline-block; font-size:14px; }
	
	.widget .recent-portfolio-widget ul { margin:0px; padding:0px; width:100%; }
	.widget .recent-portfolio-widget ul li { float:left; display:inline; margin:0px 2% 5px 0px; padding:0px; width:32%; overflow:hidden; clear:none; border:none; }
	.widget .recent-portfolio-widget ul li img { display:block; line-height:0; width:100%; }
	.widget .recent-portfolio-widget ul li:nth-child(3n) { margin-right:0px; }
	
	.left-header #main-menu .widget .recent-portfolio-widget ul li { width:32%; }
	
	.widget .recent-portfolio-widget ul li a { float:left; width:100%; position:relative; padding:0px; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
	.widget .recent-portfolio-widget ul li a:before { content:""; position:absolute; top:0px; left:0px; width:100%; height:100%; opacity:0; }
	.widget .recent-portfolio-widget ul li a:hover:before { opacity:1; }
	.widget .recent-portfolio-widget ul li a:after { content:"\e67b"; position:absolute; left:0px; right:0px; bottom:-30px; margin:auto; width:20px; height:20px; font-family:'Stroke-Gap-Icons'; font-size:20px; font-style:normal; font-weight:400; }
	.widget .recent-portfolio-widget ul li a:hover:after { top:0px; bottom:0px; }
	
	.widget .recent-posts-widget { float:left; clear:both; width:100%; margin:0px; padding:0px; }
	.widget .recent-posts-widget ul { margin:0px; padding:0px; width:100%; }
	.widget .recent-posts-widget li { display:block; clear:both; float:left; margin:0px 0px 10px; padding-left:0px; }
	.widget .recent-posts-widget li:last-child { margin-bottom:0px; }
	.widget .recent-posts-widget li .thumb { float:left; margin:0px 15px 10px 0px; padding:0px; width:60px; }
	.widget .recent-posts-widget li .thumb img { max-width:100%; }
	.widget .recent-posts-widget li .entry-title h4 { font-size:13px; line-height:20px; letter-spacing:0.25px; margin-top:-5px; margin-bottom:7px; }
	.widget .recent-posts-widget li .entry-meta { font-size:14px; }

	.widget .recent-posts-widget li .entry-meta p { float:left; margin-right:15px; }
	.widget .recent-posts-widget li .entry-meta p span { margin-right:5px; }
	
	.widget .tweet_list { float:left; width:100%; margin:0px; padding:0px; }
	.widget .tweet_list li { float:left; display:block; margin:0px 0px 20px; padding:0px 0px 20px 40px; position:relative; border-bottom:1px solid; }
	.widget .tweet_list li:before { content:"\f081"; position:absolute; left:0px; top:5px; font-family:FontAwesome; font-size:24px; }
	.widget .tweet_list li:first-child:before { top:5px; }
	.widget .tweet_list li:hover:before { content:"\f081"; }
	.widget .tweet_list li:last-child { border:none; padding-bottom:0px; margin-bottom:0px; }
	.widget .tweet_list li .tweet-time { clear:both; display:block; font-size:14px; }
	
	.widget_text ul.no-border li { border:none; }
	.widget_text ul.no-bullet li a { padding-left:0px; }
	.widget_text ul.no-bullet li:before, .widget_text ul.no-bullet li:hover:before,
	.widget_text ul.no-bullet.split-list li:before, .widget_text ul.no-bullet.split-list li:hover:before { content:""; }

	.widget_text ul.no-bullet li a > i { margin-right: 5px; }
	.widget_text ul.no-bullet.hvr-push-to-right > li:hover > a { padding-left: 10px; }	
	
	.widget_text ul.split-list { width:48%; margin-right:2%; float:left; clear:none; }
	.widget_text ul.split-list li { position:relative;  width:100%; border:none; }
	.widget_text ul.split-list li:before { content:"\f105"; }
	
	.widget .screen-reader-text { display:none; }
	
	.flickr-widget div { float:left; margin:0px; padding:0px; }
	.flickr-widget div a { line-height:0px; display:block; margin:0px 8px 8px 0px; max-width:60px; } 
	.flickr_badge_image img { height: auto !important; }
	.flickr-widget div a:hover img { opacity:0.5; }
	
	.widget_tag_cloud .tagcloud { float:left; clear:both; width:100%; margin:0px; padding:0px; }
	.tagcloud a { margin:0px 10px 10px 0px; padding:7px 15px 6px; float:left; border-bottom:1px solid; font-size:12px !important; text-transform:capitalize; }
	.dt-sc-dark-bg .tagcloud a { border-bottom:1px solid; }
	
	.widget .dt-sc-newsletter-section { padding:0px; }
	.widget .dt-sc-newsletter-section .dt-sc-subscribe-frm { float:left; clear:both; width:100%; position:relative; }
	.widget .dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="text"], .widget .dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="email"] { margin: 0; width:100%; }
	.widget .dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="submit"] { position:absolute; right:0px; height:100%; }
	
	.widget #searchform { position:relative; }
	.widget #searchform input[type="text"] { padding-right:70px; height:49px; }
	.widget #searchform input[type="submit"] { position:absolute; right:0px; top:0px; border-radius:0px; padding:18px 20px 17px; margin:0px; height:49px; }
	
	.widget #wp-calendar caption { font-weight:300; font-size:16px; margin-bottom:10px; }
	.widget #wp-calendar th { padding:10px; }
	.widget #wp-calendar td { padding:9px 10px; }
	
	.widget .dt-sc-single-line-separator { margin:13px 0px; }
	
	.widget ul.dt-sc-sociable li:before, .widget ul.dt-sc-sociable li:hover:before { content:""; }
	.widget ul.dt-sc-sociable li a { padding:0px; }
	
	.widget ul.dt-sc-sociable > li { width:auto; border-bottom:0; }
	.widget .dt-sc-sociable li a { height: 36px; line-height: 36px; text-align:center; width: 36px; }
	 
	.widget .dt-sc-sociable.hexagon-with-border li, .widget .dt-sc-sociable.hexagon-border li { width:40px; height:25px; }
	.widget .dt-sc-sociable.hexagon-with-border li a, .widget .dt-sc-sociable.hexagon-border li a { width: 42px; line-height: 52px; height: 52px; }
	 
	.widget .dt-sc-sociable.diamond-square-border li { border-bottom:1px solid rgba(255, 255, 255, 0.2); width:30px; height:30px; }
	.widget .dt-sc-sociable.diamond-square-border li a { width: 40px; height: 40px; line-height: 40px; }	 
	
	.widget .diamond-narrow-square-border li a { height: 60px; line-height: 60px; width:60px; }
	.widget .dt-sc-sociable li:first-child:before { top:10px; }
	 
	.widget_text ul.custom-social li a  { padding:0px 0px 25px; }
	.widget_text ul.custom-social li:last-child a  { padding:0px; }
	
	.widget_text ul.dt-sc-sociable li { float:none; display:inline-block; text-align:center; clear:none; margin: 0 10px; }
	.widget_text ul.dt-sc-sociable li a { float:none; display:inline-block; padding-bottom:0px; }

	.widget_text ul.dt-sc-sociable.dt-simple-narrow { margin: 0 -15px; }
	.widget_text ul.dt-sc-sociable.dt-simple-narrow li { margin: 0 15px; }
	.widget_text ul.dt-sc-sociable.dt-simple-narrow li a { font-size: 15px; width: auto; }
	
	.widget_rss h3.widgettitle > a.rsswidget > img { margin-right:5px; }

	/*--------------------------------------------------------------
	1.2 - Sidebar
	--------------------------------------------------------------*/
	.secondary-sidebar img { max-width:100%; height:auto; }
	.secondary-sidebar .widget { clear:both; }
	.secondary-sidebar .widget:last-child { margin-bottom: 80px; }
	
	.secondary-sidebar .widget ul li > a, .secondary-sidebar .tagcloud a { color:#000000; }
	.secondary-sidebar .tagcloud a:hover { color:#ffffff; }
	.secondary-sidebar .flickr-widget div a { max-width:75px; }
	.secondary-sidebar .widget .tweet_list li { border-color:rgba(0, 0, 0, 0.15); }
	
	/* Sidebar Widget Types */
	.secondary-sidebar { overflow:hidden; }
	.secondary-sidebar aside.widget { position:relative; }
	
	.secondary-sidebar .flickr-widget div { height:auto; width:33.3333%; }
	.secondary-sidebar .flickr-widget div a { margin: 0; padding: 0 4px 10px; max-width: 100%; }
	
	.secondary-sidebar .type1 .widgettitle, .secondary-sidebar .type2 .widgettitle, .secondary-sidebar .type3 .widgettitle, .secondary-sidebar .type4 .widgettitle, .secondary-sidebar .type5 .widgettitle, .secondary-sidebar .type6 .widgettitle, .secondary-sidebar .type7 .widgettitle, .secondary-sidebar .type9 .widgettitle, .secondary-sidebar .type11 .widgettitle, .secondary-sidebar .type12 .widgettitle, .secondary-sidebar .type13 .widgettitle { margin-top:0; }
	.secondary-sidebar .widgettitle:empty { display:none; }
	.secondary-sidebar .type1 .widgettitle, .secondary-sidebar .type3 .widgettitle, .secondary-sidebar .type4 .widgettitle, .secondary-sidebar .type11 .widgettitle { float:none; display:inline-block; }
	.secondary-sidebar .widgettitle:before, .secondary-sidebar .widgettitle:after, .secondary-sidebar .type5 .widget .recent-portfolio-widget ul li:before, .secondary-sidebar .type5 .widget .recent-posts-widget li:before, .secondary-sidebar .type5 .widget .recent-posts-widget li:hover:before { content:""; }
	
	.secondary-sidebar .type15 .widget.widget_recent_reviews ul li:before, .secondary-sidebar .type15 .widget.widget_recent_reviews ul li:hover:before, 
	.secondary-sidebar .type15 .widget.widget_top_rated_products ul li:before, .secondary-sidebar .type15 .widget.widget_top_rated_products ul li:hover:before, 
	.secondary-sidebar .type15 .widget.widget_recently_viewed_products ul li:before, .secondary-sidebar .type15 .widget.widget_recently_viewed_products ul li:hover:before, .secondary-sidebar .type16 .widget .special-links li:before, .secondary-sidebar .type16 .widgettitle:before, .secondary-sidebar .type15 .widgettitle:before { content:none; }
	
	.secondary-sidebar .type2 .widgettitle > a, .secondary-sidebar .type17 .widget-title-wrapper .widget-title-content h2, .secondary-sidebar .type17 .widget-title-content h3.widgettitle, .secondary-sidebar .type17 .widget-title-content h3.widgettitle > a, .secondary-sidebar .type10 .widgettitle > a, .secondary-sidebar .type18 .widgettitle > a, .secondary-sidebar .type14 .widgettitle > a, .secondary-sidebar .type15 .widgettitle > a { color:#fff; }
	
	.secondary-sidebar .type1 .widget.buddypress .bp-login-widget-user-avatar, .secondary-sidebar .type3 .widget.buddypress .bp-login-widget-user-avatar, .secondary-sidebar .type4 .widget.buddypress .bp-login-widget-user-avatar { float:none; position:absolute; left:0px; top:63px; }
	
	.secondary-sidebar .type1 .widgettitle:before, .secondary-sidebar .type1 .widgettitle:after { position:absolute; top:inherit; left:0px; bottom:-10px; height:3px; background:#000000; width:100%; }
	.secondary-sidebar .type1 .widgettitle:after { bottom:-13px; height:1px; }
	
	
	.secondary-sidebar .type2 .widgettitle { margin-bottom:40px; background:#000000; padding:12px 15px; color:#ffffff; }
	.secondary-sidebar .type2 .widgettitle:before { top:inherit; bottom:-13px; left:0px; width:0px; height:0px; border-top:13px solid #000000; border-right:13px solid transparent; background:none; }
	
	.secondary-sidebar .type3 .widgettitle { border-top:3px solid; padding:13px 0px 0px; margin-bottom:35px; }
	.secondary-sidebar .type3 .widgettitle:before { background:none; }
	
	
	.secondary-sidebar .type4 .widgettitle { border-left:5px solid #f1b956; padding-left:15px; padding-right:15px; }
	.secondary-sidebar .type4 .widgettitle:before { top:0px; height:100%; width:9999px; left:100%; background:url(../images/sidebar/sidebar-title-grey-pattern.png) repeat; }
	
	
	.secondary-sidebar .type5 .widgettitle { margin-bottom:35px; border-bottom:2px solid; padding:0px 0px 10px; }
	.secondary-sidebar .type5 .widgettitle:before { background:none; }	
	
	.secondary-sidebar .type5 .widget ul li:before { content:"\f06c"; top:9px; }
	.secondary-sidebar .type5 .widget .tweet_list li:before { content:"\f081"; top: 0; }
	.secondary-sidebar .type5 .widget ul li:first-child:before { top:2px; }
	
	.secondary-sidebar .type5 .widget.woocommerce ul li:first-child::before { top: 0; }	
	.secondary-sidebar .type5 .widget.woocommerce ul.product-categories li:first-child:before { top: 9px; }
	
	.secondary-sidebar .type5 .widget.widget_categories ul li > a span, .secondary-sidebar .type5 .widget.widget_archive ul li > a span { font-size:14px; text-align:center; }
	.secondary-sidebar .type5 .tagcloud a { border-radius:0px 10px; font-size:14px !important; }
	
	.secondary-sidebar .type5 .widget .recent-posts-widget li .entry-title h4 { font-size:16px; }
		
	
	.secondary-sidebar .type6 .widgettitle { border-left:3px solid; padding:0px 0px 0px 15px;  margin-bottom:50px; width:100%; }
	.secondary-sidebar .type6 .widgettitle:before { height:1px; background:rgba(0, 0, 0, 0.25); top:inherit; bottom:-10px; width:100%; }	
	.secondary-sidebar .type6 .widgettitle:after { position:absolute; background:url(../images/sidebar/sidebar-title-arrow.png) no-repeat; width:13px; height:8px; left:30px; bottom:-17px; }
	
	.secondary-sidebar .type7 .widgettitle { padding:13px 20px 12px 25px; border:1px solid #000000;  margin-bottom:40px; font-weight:bold; }
	.secondary-sidebar .type7 .widgettitle:before { left:inherit; left: 0px; top:0px; height:100%; width: 5px; background:#000000; }	
	
	.secondary-sidebar .type8 .widgettitle { background:#ffffff; padding:10px 20px; margin:-14px auto 20px; text-align:center; display:table; float:none; }
	.secondary-sidebar .type8 .widget { width:100%; padding:0px 20px 15px;  }
	.secondary-sidebar .type8 .widget:before { border:1px solid #000000; content: ""; height: 100%; position: absolute; left: 0; top: 6px; width: 100%; z-index: -1;  }
	.secondary-sidebar .type8 .widgettitle:before { content:none; }
	.secondary-sidebar .type8 .widget #wp-calendar td { padding:9px 8px; }
	
	.secondary-sidebar .type9 .widgettitle { padding:0px 0px 15px; border-bottom:1px solid rgba(0, 0, 0, 0.15); }
	.secondary-sidebar .type9 .widgettitle:before { width:50px; height:3px; background:#000000; top:inherit; left:0px; bottom:-2px; }

	.secondary-sidebar .type10 .widget:before { content:""; position:absolute; left:0px; top:0px; width:100%; background:#000000; height:1px; top:0px; }
	.secondary-sidebar .type10 .widget { padding-top:2px; }
	.secondary-sidebar .type10 .widgettitle { margin-top:6px; padding:2px 20px 0px 20px; min-height:37px;  margin-bottom:30px; color:#ffffff; font-size:18px; }
	.secondary-sidebar .type10 .widgettitle:before { background:#000000; height:100%; width:100%; top:-6px; z-index:-1; }
	.secondary-sidebar .type10 .widgettitle:after { position:absolute; right:-4px; top:-6px; background:#f6f6f6 url(../images/sidebar/sidebar-title-shape.png) center center no-repeat; height:100%; width:19px; }
	
	.secondary-sidebar .type11 .widget { position:relative; background:#e8e8e8; padding:25px 20px;  border-radius:5px; }
	.secondary-sidebar .type11 .widgettitle:before { position: absolute; right: -18px; top: 50%; margin: auto; background: #e8e8e8 url(../images/sidebar/sidebar-title-floral2.png) no-repeat; width: 24px; height: 17px; left:auto; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); }
	.secondary-sidebar .type11 .widgettitle { font-size: 22px; margin-bottom:40px; padding-right:15px; position: relative; }
	.secondary-sidebar .type11 .woocommerce ul.cart_list li a, .secondary-sidebar .type11 .woocommerce ul.product_list_widget li a { font-weight: 300; }
	.secondary-sidebar .type11 .widget #wp-calendar td { padding: 9px 8px; }
	
	.secondary-sidebar .type12 .widget { position:relative; background:rgba(0, 0, 0, 0.05); padding:20px 20px 25px;  }
	.secondary-sidebar .type12 .widgettitle { padding:10px 15px; margin-bottom:20px; }
	.secondary-sidebar .type12 .widgettitle:before { background:none; }
	
	
	.secondary-sidebar .type13 .widgettitle { padding:14px 0px 12px; }
	.secondary-sidebar .type13 .widgettitle:before { height:100%; width:60px; border-top:1px solid #60ae0d; border-bottom:1px solid #60ae0d; top:0px; z-index:-1; background:none;
 }
	
	.secondary-sidebar .type14 .widgettitle { background: #191919; padding:10px 0px 10px 20px; border-bottom:3px solid; color:#fff; } 
	.secondary-sidebar .type14 .widgettitle:before { background:none; border-bottom: 1px solid #fff; bottom: 0px; width:100%; top:inherit; }
	
	.secondary-sidebar .type15 .widgettitle { background: #000; box-sizing: border-box; color: #fff; padding: 13px 20px; font-size:18px; font-weight:normal; text-transform:uppercase; }
	.secondary-sidebar .type15 .widget.woocommerce ul li:before, .secondary-sidebar .type15 .widget.woocommerce ul li:hover:before { content:"\f105"; font-size:15px; }
	
	.secondary-sidebar .type15 .widget.widget_recent_reviews ul li, .secondary-sidebar .type15 .widget.widget_top_rated_products ul li, .secondary-sidebar .type15 .widget.widget_recently_viewed_products ul li { background:#f8f1e4; padding:15px; border-bottom:2px solid #ebeef0; }
	
	.secondary-sidebar .type15 .woocommerce ul.cart_list li img, .secondary-sidebar .type15 .woocommerce ul.product_list_widget li img { width:50px; padding:0; }
	
	.secondary-sidebar .type15 .widget.widget_recently_viewed_products ul li a img { height: 50px; margin-top: 0; }
	
	
	.secondary-sidebar .type16 .widgettitle { background: #f5f5f5; border-left: 3px solid; font-size: 16px; font-weight: 600; margin-bottom: 30px; padding: 15px; }
	
	.secondary-sidebar .type16 .widget .special-links { font-size:15px; }
	.secondary-sidebar .type16 .widget .special-links li a { padding-left:0; }
	

	.secondary-sidebar .type17 .widget-title-wrapper { overflow:hidden; float:left; width: 100%; }
	.secondary-sidebar .type17 .widget-title-wrapper .widget-title-content { margin-bottom:30px; position: relative; clear: both; float: left; }
	.secondary-sidebar .type17 .widget-title-wrapper .widget-title-content:before { content:""; position:absolute; right:-16px; top:0px; width:100%; height:100%; -webkit-transform:skewX(30deg); transform:skewX(30deg); -ms-transform:skewX(30deg); }
	.secondary-sidebar .type17 .widget-title-wrapper .widget-title-content:after { content:""; height:100%; top:0px; left:114%; left:-webkit-calc(100% - -26px); left:-moz-calc(100% - -26px); left:calc(100% - -26px); position:absolute; -ms-transform:skewX(30deg); -webkit-transform:skewX(30deg); transform:skewX(30deg); width:9000px; background:#f3f3f3; }	
	.secondary-sidebar .type17 .widget-title-wrapper .widget-title-content h2, .secondary-sidebar .type17 .widget-title-wrapper .widget-title-content h3.widgettitle { padding:17px 10px 15px 20px; position:relative; z-index:1; margin:0px; left:0px; font-size:16px; text-transform:uppercase; }
	
	.secondary-sidebar .type18 .widget-stripe-title { overflow:hidden; float:left; width: 100%; }
	.secondary-sidebar .type18 .widget-stripe-title .widget-stripe-title-content { margin-bottom:30px; position: relative; clear: both; float: left; }
	.secondary-sidebar .type18 .widget-stripe-title .widget-stripe-title-content:after { background:url(../images/sidebar/title-pattern.png) repeat; content:""; height:100%; top:0px; left:100%; position:absolute; width:9000px; }	
	.secondary-sidebar .type18 .widget-stripe-title .widget-stripe-title-content h2, .secondary-sidebar .type18 .widget-stripe-title .widget-stripe-title-content h3.widgettitle { background:#000; padding:12px 15px; position:relative; z-index:1; margin:0px; left:0px; font-size:16px; text-transform:uppercase; color:#fff; }

	/* Magazine Title */
	.mz-title { overflow:hidden; float:left; width: 100%; }
	.mz-title .mz-title-content { margin-bottom:30px; position: relative; clear: both; float: left; }
	.mz-title .mz-title-content:before { content:""; position:absolute; right:-16px; top:0px; width:100%; height:100%; -webkit-transform:skewX(30deg); transform:skewX(30deg); -ms-transform:skewX(30deg); }
	.mz-title .mz-title-content:after { content:""; height:100%; top:0px; left:114%; left:-webkit-calc(100% - -26px); left:-moz-calc(100% - -26px); left:calc(100% - -26px); position:absolute; -ms-transform:skewX(30deg); -webkit-transform:skewX(30deg); transform:skewX(30deg); width:9000px; background:#f3f3f3; }	
	.mz-title .mz-title-content h2, .mz-title .mz-title-content h3.widgettitle { padding:17px 10px 15px 20px; position:relative; z-index:1; margin:0px; left:0px; font-size:16px; text-transform:uppercase; }
	
	.mz-title .mz-title-content h2, .mz-title-content h3.widgettitle, .mz-title-content h3.widgettitle > a { color:#fff; }
	
	/* Magazine stripe title */
	.mz-stripe-title { overflow:hidden; float:left; width: 100%; }
	.mz-stripe-title .mz-stripe-title-content { margin-bottom:30px; position: relative; clear: both; float: left; }
	.mz-stripe-title .mz-stripe-title-content:after { background:url(../images/title-pattern.png) repeat; content:""; height:100%; top:0px; left:100%; position:absolute; width:9000px; }	
	.mz-stripe-title .mz-stripe-title-content h2, .mz-stripe-title .mz-stripe-title-content h3.widgettitle { background:#000; padding:12px 15px; position:relative; z-index:1; margin:0px; left:0px; font-size:16px; text-transform:uppercase; }
	
	.mz-stripe-title .mz-stripe-title-content h2, .mz-stripe-title .mz-stripe-title-content h3.widgettitle { color:#fff; }
	.mz-stripe-title.blue .mz-stripe-title-content h2 { background:#3498db; }
	.mz-stripe-title.purple .mz-stripe-title-content h2 { background:#9b59b6; }
	.mz-stripe-title.pink .mz-stripe-title-content h2 { background:#f13d7a; }
	.mz-stripe-title.orange .mz-stripe-title-content h2 { background:#e67e22; }
	.mz-stripe-title.cyan .mz-stripe-title-content h2 { background:#1abc9c; }	
	
	
	/*--------------------------------------------------------------
	1.3 - Mega Menu
	--------------------------------------------------------------*/

	#main-menu .menu-item-widget-area-container { width:100%; margin:10px 0px 0px; padding:0px; float:left;  }
	#main-menu .menu-item-widget-area-container ul { padding:0px; margin:0px; }
	#main-menu .menu-item-widget-area-container .widget { padding:0px 0px 30px; display:inline; }
	
	#main-menu .menu-item-widget-area-container .widget.widget_pages ul li ul.children, #main-menu .menu-item-widget-area-container .widget.widget_nav_menu ul li ul.sub-menu { padding:10px 0px 0px 20px; }
	
	#main-menu .menu-item-widget-area-container .widget table { margin-bottom:0px; }
	#main-menu .menu-item-widget-area-container textarea { height:120px; }
	
	#main-menu .menu-item-widget-area-container .widget #wp-calendar td { padding:9px; }
	
	#main-menu .menu-item-widget-area-container .widget ul li > a, .menu-item-widget-area-container .tagcloud a { color:#000000; }
	#main-menu .menu-item-widget-area-container .tagcloud a:hover { color:#ffffff; }
	#main-menu .menu-item-widget-area-container .flickr-widget div a { max-width:65px; }
	#main-menu .menu-item-widget-area-container .widget .tweet_list li { border-color:rgba(0, 0, 0, 0.15); }
	
	#main-menu .dt-sc-dark-bg .menu-item-widget-area-container .widget ul li > a, #main-menu .dt-sc-dark-bg .menu-item-widget-area-container .tagcloud a, #main-menu .dt-sc-dark-bg .menu-item-widget-area-container .widget_recent_posts .entry-title h4 a { color:#ffffff; }
	#main-menu .dt-sc-dark-bg .menu-item-widget-area-container .recent-posts-widget li .entry-meta a, #main-menu .dt-sc-dark-bg .menu-item-widget-area-container .tweet_list li .tweet-time { color:rgba(255, 255, 255, 0.5); }
	#main-menu .dt-sc-dark-bg .menu-item-widget-area-container .widget ul li { border-color:rgba(255, 255, 255, 0.15); }
	
	#main-menu .menu-item-widget-area-container .widget img { max-width:100%; height:auto; }
	
	#main-menu .menu-item-widget-area-container .widget ul li { padding:10px 0px 10px 20px; }
	#main-menu .menu-item-widget-area-container .widget ul li:first-child, #main-menu .menu-item-widget-area-container .widget.widget_nav_menu ul.menu li:first-child { padding-top:0px; }
	
	#main-menu .menu-item-widget-area-container .widget.widget_archive ul li, #main-menu .menu-item-widget-area-container .widget.widget_categories ul li, #main-menu .menu-item-widget-area-container .widget.widget_pages ul li, #main-menu .menu-item-widget-area-container .widget.widget_meta ul li, #main-menu .menu-item-widget-area-container .widget.widget_nav_menu ul.menu li, #main-menu .menu-item-widget-area-container .widget.widget_text ul li { padding:0px; }
	#main-menu .menu-item-widget-area-container .widget.widget_archive ul li > a, #main-menu .menu-item-widget-area-container .widget.widget_categories ul li > a, #main-menu .menu-item-widget-area-container .widget.widget_pages ul li > a, #main-menu .menu-item-widget-area-container .widget.widget_meta ul li > a, #main-menu .menu-item-widget-area-container .widget.widget_nav_menu ul.menu li > a, #main-menu .menu-item-widget-area-container .widget.widget_text ul li > a { padding:10px 0px 10px 20px; }
	#main-menu .menu-item-widget-area-container .widget.widget_archive ul li:first-child > a, #main-menu .menu-item-widget-area-container .widget.widget_categories ul li:first-child > a, #main-menu .menu-item-widget-area-container .widget.widget_pages ul li:first-child > a, #main-menu .menu-item-widget-area-container .widget.widget_meta ul li:first-child > a, #main-menu .menu-item-widget-area-container .widget.widget_nav_menu ul.menu li:first-child > a, #main-menu .menu-item-widget-area-container .widget.widget_text ul li:first-child > a { padding-top:0px; }
	
	#main-menu .menu-item-widget-area-container .widget .recent-portfolio-widget ul li { padding:0px; }
	#main-menu .menu-item-widget-area-container .widget .recent-posts-widget li { padding-left:0px; }
	#main-menu .menu-item-widget-area-container .widget .tweet_list li { padding:0px 0px 20px 40px; }

	
	/*--------------------------------------------------------------
	1.5 - Footer
	--------------------------------------------------------------*/
	.footer-widgets .widget { float:left; clear:both; width:100%; margin-bottom:30px; }
	.footer-widgets .widgettitle { margin-bottom: 30px; }
	 
	#footer .mailchimp-form { margin:40px 0px 0px; position:relative; }
	#footer .mailchimp-form input[type="email"] { font-size:14px; font-weight:normal; width:100%; padding:15px; float:left; border-radius:5px;  }
	#footer .mailchimp-form input[type="submit"] { cursor:pointer; font-size:14px; font-weight:400; position:absolute; right:0px; border-radius:0px 5px 5px 0px; padding:15px; margin:0px; }

	.footer-widgets .no-border.dt-sc-opening-hours li { padding: 10px 0; }
	.footer-widgets .no-border.dt-sc-opening-hours li:first-child { padding-top: 0; }
	.footer-widgets .no-border.dt-sc-opening-hours li .dt-sc-hr-invisible-xsmall { width: 100%; }

	.footer-widgets .dt-sc-contact-info span { line-height: inherit; margin-top: 0; margin-bottom: 3px; }

	.tagcloud a:hover, #footer .dt-sc-dark-bg .tagcloud a:hover, #footer .tagcloud a:hover, #footer .dt-sc-dark-bg .dt-sc-opening-hours li .time { color:#ffffff; }
	 
	/*--------------------------------------------------------------
	1.6 - bbpress
	--------------------------------------------------------------*/
	#bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar { float: none; margin-bottom: -3px; border: 3px double #ddd; } 
	 
	.bbp-login-form fieldset legend { display: none; }
	.bbp-login-form label { width: 140px; display: inline-block; }
	#sidebar .bbp-login-form label { width: 70px; }
	.bbp-login-form .bbp-username, .bbp-login-form .bbp-email, .bbp-login-form .bbp-password, .bbp-login-form .bbp-remember-me, .bbp-login-form .bbp-submit-wrapper { margin-top: 10px; }
	.bbp-login-form .bbp-submit-wrapper { text-align: right; }
	.bbp-login-form .bbp-login-links a { float: left; clear: left; }
	.bbp-logged-in img.avatar { float: left; margin: 0 15px 0 0; }
	.bbp-logged-in h4 { font-weight: bold; font-size: 1.3em; clear: none; margin-bottom: 10px; }

	.widget #bbp-search-form { position:relative; float:left; width:100%; }
	.widget #bbp-search-form input[type="text"] { padding-right:100px; }
	.widget #bbp-search-form input[type="submit"] { bottom:0px; right:0px; top:0px; margin:0px; padding:0px 20px; position:absolute; border-radius:0; }
	
	.widget.bbp_widget_login .bbp-logged-in h4 { font-weight:normal; margin-bottom:0px; }
	
	.widget.widget_display_replies ul li a.bbp-author-avatar { margin-right:5px; }
	.widget.widget_display_replies ul li a.bbp-author-avatar, .widget.widget_display_replies ul li a.bbp-author-name { display:inline; }
	
	.widget.widget_display_topics ul li .topic-author { margin-left:5px; }
	.widget.widget_display_topics ul li div, .widget.widget_display_replies ul li div { color:rgba(0, 0, 0, 0.5); margin-top:5px; }
	
	.widget.widget_display_stats dl { margin:0px; }
	.widget.widget_display_stats dt { float:left; margin:0px 10px 0px 0px; font-weight:normal; clear:both; }
	.widget.widget_display_stats dd { float:left; line-height:24px; }
	
	.dt-sc-dark-bg .widget.widget_display_topics ul li div, .dt-sc-dark-bg .widget.widget_display_replies ul li div { color:rgba(255, 255, 255, 0.4); }
	
	
	/*--------------------------------------------------------------
	1.7 - Buddypress
	--------------------------------------------------------------*/
	.widget.buddypress div.item-avatar img.avatar { float: left; margin: 0 10px 15px 0; }
	.widget.buddypress span.activity { display: inline-block; font-size: small; opacity: 0.8; padding: 0; }
	.widget.buddypress div.item-options { font-size: 90%; margin: 0 0 1em 0; padding: 1em 0; }
	.widget.buddypress div.item{ margin:0 0 1em 0; }
	.widget.buddypress div.item-meta, .widget.buddypress div.item-content { font-size: 11px; margin-left: 50px; }
	.widget.buddypress ul.item-list img.avatar { height: 40px; margin-right: 10px; width: 40px; }
	.widget.buddypress div.item-avatar img { height: 40px; margin: 1px; width: 40px; }
	.widget.buddypress div.avatar-block{ overflow: hidden; }
	.widget.buddypress #bp-login-widget-form label { display: block; margin: 1rem 0 .5rem; }
	.widget.buddypress #bp-login-widget-form #bp-login-widget-submit { margin-right: 10px; }
	.widget.buddypress .bp-login-widget-user-avatar { float: left; }
	.bp-login-widget-user-avatar img.avatar { height: 40px; width: 40px; }
	.widget.buddypress .bp-login-widget-user-links > div { padding-left: 60px; }
	.widget.buddypress .bp-login-widget-user-links > div { margin-bottom: .5rem; }
	.widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a { font-weight: bold; }
	.widget.buddypress #groups-list, .widget.buddypress #members-list, .widget.buddypress #friends-list { margin-left: 0; padding-left: 0; }
	.widget.buddypress #groups-list li, .widget.buddypress #members-list li, .widget.buddypress #friends-list li { clear: both; list-style-type: none; }
	
	.widget.buddypress .item-list .item { margin-bottom:0px; }
	.widget.buddypress .item-list li:before, .widget.buddypress .item-list li:hover:before { content:""; }
	.widget.buddypress .item-list li { padding-left:0px; }
	
	.widget #bp-login-widget-form span.bp-login-widget-register-link { display: inline-block; margin-top: 15px; margin-left: 5px; }
	#footer .dt-sc-dark-bg .widget #bp-login-widget-form span.bp-login-widget-register-link > a:hover { color:rgba(255, 255, 255, 0.6); }
	#footer .widget #bp-login-widget-form span.bp-login-widget-register-link > a:hover { color:#000; }
	
	.widget.buddypress .item-list .item .item-title { margin-bottom:-3px; }
	.widget.buddypress .item-list .item .item-title a { color:#000000; font-weight:600; }
	.widget.buddypress .item-list .item .item-meta { color:rgba(0, 0, 0, 0.5); }
	
	.widget.buddypress div.item-options { border-bottom:1px solid rgba(0, 0, 0, 0.1); margin:0px 0px 25px; padding-bottom:0px; }
	.widget.buddypress div.item-options a { font-size:14px; margin-bottom:-1px; padding:8px 12px; color:rgba(0, 0, 0, 0.4); display:inline-block; border-radius:3px 3px 0px 0px; font-weight:600; -webkit-transition:none; -moz-transition:none; -o-transition:none; -ms-transition:none; transition:none; }
	.widget.buddypress div.item-options .bp-separator { display:none; }
	.widget.buddypress div.item-options a.selected { border:1px solid rgba(0, 0, 0, 0.1); border-bottom-color:#ffffff; }
	
	.widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a { font-weight:normal; font-size:14px; color:#000000; }
	.widget.buddypress .bp-login-widget-user-links > div { margin-bottom:-3px; }
	
	.profile .bp-widget { display: inline-block; margin-bottom: 20px; width: 100%; }
	.bp-widget > h4 { font-weight: 600; margin-bottom:0; }
	
	.dt-sc-dark-bg .widget.buddypress .item-list .item .item-meta { color:rgba(255, 255, 255, 0.5); }
	.dt-sc-dark-bg .widget.buddypress div.item-options { border-bottom:1px solid rgba(255, 255, 255, 0.3); }
	.dt-sc-dark-bg .widget.buddypress div.item-options a.selected { border:1px solid rgba(255, 255, 255, 0.3); border-bottom-color:#000000; }
	
	
	
	/*--------------------------------------------------------------
	1.8 - Events Calendar
	--------------------------------------------------------------*/
	.widget.tribe-events-countdown-widget .tribe-countdown-text a { color:#000000; font-weight:600; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-venue-name { font-size:14px; font-weight:600; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-venue-name a { color:#000000; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-list { margin:15px 0px 0px; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-list li { padding-top:3px; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-list .entry-title { font-size:14px; }
	
	.tribe-mini-calendar-event .list-info h2 { font-weight:600; }
	.tribe-mini-calendar-event .list-date { background:rgba(0, 0, 0, 0.05); }
	.tribe-mini-calendar-event .list-date .list-daynumber { color:#000000; font-size:12px; }
	.tribe-events-adv-list-widget .duration { margin-bottom:10px; display:inline; line-height:20px; }
	.tribe-events-adv-list-widget .location { color:rgba(0, 0, 0, 0.5); line-height:20px; }
	.tribe-events-adv-list-widget .tribe-events-duration, .tribe-events-adv-list-widget .tribe-events-location { line-height:24px; }
	
	
	/* Default */
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar th { background:#ffffff; border-color:rgba(0, 0, 0, 0.1); color:rgba(0, 0, 0, 0.5); font-weight:600; font-size:13px; padding:3px 0px; }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-mini-calendar-no-event { color:rgba(0, 0, 0, 0.3); }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-present .tribe-mini-calendar-no-event { color:#ffffff; }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar td.tribe-events-has-events { background:rgba(0, 0, 0, 0.1); }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events a { color:rgba(0, 0, 0, 0.4); }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a { color:#ffffff; }
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events:hover a:hover { background:rgba(0, 0, 0, 0.15); }
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr:nth-child(2n+1) td { background: rgba(0, 0, 0, 0.05); }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody td { background:rgba(0, 0, 0, 0.05); }
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr:nth-child(2n+1) .tribe-events-othermonth, .widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr .tribe-events-othermonth { background:rgba(0, 0, 0, 0.02); }
	
	
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar th { background:rgba(255, 255, 255, 0.1); color:#ffffff; }
	.dt-sc-dark-bg .widget.tribe-events-countdown-widget .tribe-countdown-number { color:#ffffff; }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-mini-calendar-no-event { color:rgba(255, 255, 255, 0.5); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar td.tribe-events-has-events { background:rgba(255, 255, 255, 0.4); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events a { color:rgba(255, 255, 255, 0.5); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events:hover a:hover { background:rgba(255, 255, 255, 0.5); }
	
	.dt-sc-dark-bg .widget.tribe-events-countdown-widget .tribe-countdown-text a, .dt-sc-dark-bg .widget.tribe-events-venue-widget .tribe-venue-widget-venue-name a, .dt-sc-dark-bg .tribe-mini-calendar-event .list-date .list-daynumber { color:#ffffff; }
	.dt-sc-dark-bg .tribe-events-adv-list-widget .location { color:rgba(255, 255, 255, 0.5); }
	.dt-sc-dark-bg .tribe-mini-calendar-event .list-date { background:rgba(255, 255, 255, 0.3); }
	
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar td { border-color:rgba(255, 255, 255, 0.2); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr:nth-child(2n+1) td { background: rgba(255, 255, 255, 0.3); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody td { background:rgba(255, 255, 255, 0.3); }
	.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr:nth-child(2n+1) .tribe-events-othermonth, .dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar tbody tr .tribe-events-othermonth { background:rgba(255, 255, 255, 0.2); }

	.widget.tribe-events-venue-widget .tribe-event-title { padding-top: 0; margin-bottom:10px; }
	.widget.tribe-events-venue-widget .tribe-venue-widget-list li { padding-bottom:20px; }
	
	
	/*--------------------------------------------------------------
	1.4 - Events Calendar Pro
	--------------------------------------------------------------*/
	.widget ul.tribe-events-sub-nav { float:none; width:auto; }
	.widget.tribe-this-week-events-widget ul.tribe-events-sub-nav li:before { display:none; }
	.widget.tribe-this-week-events-widget ul.tribe-events-sub-nav li { clear:none; width:auto; }
	.tribe-this-week-widget-wrapper .tribe-events-page-title { font-size: 16px; font-weight:600; }
	.tribe-this-week-widget-wrapper .tribe-this-week-widget-day .duration, .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .tribe-venue { line-height:21px; }	
	
	
	/*--------------------------------------------------------------
	1.8 - Woocommerce
	--------------------------------------------------------------*/

	.woocommerce ul.product_list_widget li dl:after, .woocommerce ul.product_list_widget li:after { clear:both }
	
	.woocommerce ul.cart_list, .woocommerce ul.product_list_widget { list-style:none; margin:0; padding:0; }
	.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li { list-style:none; margin:0; }
	
	.woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before {display: table}
	.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {display: block; font-weight:700}
	.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img { float: right; height: auto; margin-left: 4px; width: 32px; box-shadow: none }
	.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl { border-left: 2px solid rgba(0,0,0,.1); margin: 0; padding-left: 1em; }
	.woocommerce ul.cart_list li dl:after, .woocommerce ul.cart_list li dl:before, .woocommerce ul.product_list_widget li dl:after, .woocommerce ul.product_list_widget li dl:before { content: " "; display: table }
	.woocommerce ul.cart_list li dl dd, .woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dd, .woocommerce ul.product_list_widget li dl dt { display: inline-block; float: left; margin-bottom: 1em }
	.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt { clear: left; font-weight: 700; margin: 0 4px 0 0; padding: 0 0 .25em; }
	.woocommerce .order_details:after, .woocommerce .widget_layered_nav ul li:after, .woocommerce .widget_shopping_cart .buttons:after, .woocommerce-account .addresses .title:after, .woocommerce-cart .wc-proceed-to-checkout:after, .woocommerce.widget_shopping_cart .buttons:after {clear: both}
	.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd {padding: 0 0 .25em}
	.woocommerce ul.cart_list li dl dd p:last-child, .woocommerce ul.product_list_widget li dl dd p:last-child {margin-bottom: 0}
	.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {float: none}
	.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total { border-top: 3px double #ebe9eb; padding: 4px 0 0 }
	.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong { display: inline-block; min-width: 40px; }
	.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li { padding-left: 2em; padding-top: 0; position: relative; }
	.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove { position: absolute; left: 0; top: 0; }
	.woocommerce .widget_shopping_cart .buttons:after, .woocommerce .widget_shopping_cart .buttons:before, .woocommerce.widget_shopping_cart .buttons:after, .woocommerce.widget_shopping_cart .buttons:before { content: " "; display: table }
	.woocommerce .widget_layered_nav ul { border: 0; list-style: none; margin: 0; padding: 0; }
	.woocommerce .widget_layered_nav ul li { list-style: none; padding: 0 0 1px; }
	.woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce .widget_layered_nav_filters ul li a:before { content: ""; color: #a00; font-family: WooCommerce; font-variant: normal; font-weight: 400; line-height: 1; speak: none; text-decoration: none; text-transform: none; -webkit-font-smoothing: antialiased; }
	.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span {padding: 1px 0}
	.woocommerce .widget_layered_nav ul li.chosen a:before {margin-right: .618em}
	.woocommerce .widget_layered_nav_filters ul { border: 0; list-style: none; margin: 0; overflow: hidden; padding: 0; zoom: 1 }
	.woocommerce .widget_layered_nav_filters ul li { border-width: 0; list-style: none; padding: 0 1px 1px 2px; }
	.woocommerce .widget_layered_nav_filters ul li:before {content: none;}
	.woocommerce .widget_layered_nav_filters ul li a { text-decoration: none; width: auto; }
	.woocommerce .widget_layered_nav_filters ul li a:before {margin-right: .618em}
	.woocommerce .widget_price_filter .price_slider { clear: both; margin-bottom: 1em }
	.woocommerce .widget_price_filter .price_slider_amount { font-size: .8751em; line-height: 2.4; text-align: right; }
	.woocommerce .widget_price_filter .price_slider_amount .button { font-size: 1.15em; float: left; }
	.woocommerce .widget_price_filter .ui-slider { margin-left: .5em; margin-right: .5em; position: relative; text-align: left; }
	.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background-color: #a46497; cursor: ew-resize; height: 1em; margin-left: -.5em; position: absolute; outline: 0; top: -.3em; width: 1em; z-index: 2; border-radius: 1em; }
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range { background-color: #a46497; border: 0; display: block; font-size: .7em; position: absolute; z-index: 1; border-radius: 1em; }
	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #602053; border: 0; border-radius: 1em; }
	.woocommerce .widget_price_filter .ui-slider-horizontal {height: .5em}
	.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range { top: 0; height: 100% }
	.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {left: -1px}
	.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {right: -1px}
	.woocommerce .widget_rating_filter ul { margin: 0; padding: 0; border: 0; list-style: none }
	.woocommerce .widget_rating_filter ul li { border-width: 0; padding: 0 0 1px; list-style: none }
	.woocommerce .widget_rating_filter ul li:after,
	.woocommerce .widget_rating_filter ul li:before { content: " "; display: table }
	.woocommerce .widget_rating_filter ul li a { padding: 1px 0; text-decoration: none }
	.woocommerce .widget_rating_filter ul li .star-rating { float: none; display: inline-block }
	.woocommerce .widget_rating_filter ul li.chosen a:before { font-family: WooCommerce; speak: none; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; margin-right: .618em; content: ""; text-decoration: none; color: #a00 }

	
	.woocommerce #footer a.button:hover { color:#ffffff; }
	
	.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a { font-weight:600; }
	
	.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li { display: inline-block; margin-bottom: 15px; }
	.woocommerce .widget_shopping_cart .cart_list li:last-child, .woocommerce.widget_shopping_cart .cart_list li:last-child { border: none; margin-bottom: 0; padding-bottom: 0; }
	.woocommerce .widget_shopping_cart .cart_list li.empty, .woocommerce.widget_shopping_cart .cart_list li.empty { padding-left: 0; }
	
	.woocommerce ul.product_list_widget li::before { content:"\f10c"; display: inline !important; }
	.woocommerce ul.product_list_widget li:hover:before { content:"\f192"; }
	
	.woocommerce .widget_shopping_cart .cart_list li:before, .woocommerce.widget_shopping_cart .cart_list li:before { content: none !important; }
	.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove { font-size: 15px; height: 20px; line-height: 20px; padding: 0; position: absolute; top: 2px; width: 20px; z-index: 1; }
	
	.widget.woocommerce ul.product_list_widget li ins { background: none; font-size: 14px; }
	.widget.woocommerce ul.product_list_widget li del { font-size: 12px; }
	.widget.woocommerce ul.product_list_widget li a img { border: 1px solid; margin-top: 8px; padding: 3px; }
	
	.widget.woocommerce ul.product-categories li, .widget.widget_layered_nav ul li { display: block; float: none; font-weight: normal; margin: 0; padding: 0; position: relative; }
	.widget.woocommerce ul.product-categories li.cat-item-none { padding-bottom:5px; }
	.widget.woocommerce ul.product-categories li.cat-item-none:before { display:none; }
	.widget.woocommerce ul.product-categories li a, .widget.widget_layered_nav ul li a { border: none; margin: 0; padding: 10px 0 10px 20px;  }
	.widget.woocommerce ul.product-categories li span, .widget.widget_layered_nav ul li span { line-height: 44px; position: absolute; right: 0; top: 0; }
	
	.widget.woocommerce ul li:before { font-weight: normal; }
	
	.widget.woocommerce ul.product_list_widget li, .widget.woocommerce ul.product-categories li:last-child { border-bottom: 1px solid; }
	
	.widget.woocommerce ul.product-categories ul { padding: 0 0 0 15px; box-sizing:border-box; }
	.widget.woocommerce ul.product-categories ul li { width: 100%; box-sizing:border-box; }
	
	.widget.woocommerce .widget_shopping_cart_content .total { clear: both; float: left; margin: 20px 0 0; padding: 10px 0 0; width: 100%; }
	.widget.woocommerce .widget_shopping_cart_content .buttons { clear: both; float: left; margin: 10px 0 0; padding: 0; width: 100%; } 
	
	.woocommerce.widget_price_filter .price_label { font-size: 14px; position: relative; top: 17px; }
	.widget.woocommerce ul.product_list_widget li .star-rating { margin: 5px 0; }
	
	.widget.woocommerce .woocommerce-product-search label { display: none; }
	
	.widget.woocommerce .woocommerce-product-search { clear: both; position: relative; }
	.widget.woocommerce .woocommerce-product-search input[type="search"] { padding-right: 100px; }
	.widget.woocommerce .woocommerce-product-search input[type="submit"] { margin: 0; position: absolute; bottom: 0; right: 0; top: 0; }
	
	.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl { margin: 5px 0 0 25px; }
	.woocommerce ul.cart_list li dl dd, .woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dd, .woocommerce ul.product_list_widget li dl dt { float: none; margin: 0; }
	
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range { background:#e8e8e8; }
	.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background:#ffffff; border:1px solid #dddddd; }
	
	.woocommerce #footer .dt-sc-dark-bg .widget_price_filter .ui-slider .ui-slider-range { background:#545454; }
	.woocommerce #footer .dt-sc-dark-bg .widget_price_filter .ui-slider .ui-slider-handle { background:#545454; border:1px solid #666666; }
	
	.woocommerce.widget_price_filter .price_label { float:right; }
	
	#footer .product-categories li span { top: 3px; }
	#footer .widget.woocommerce ul.product_list_widget li a img { border: 3px solid; padding: 0; }
	
	.menu-item-widget-area-container .widget_product_categories .product-categories li a { border-bottom: none; line-height: 24px; margin: 0; padding: 0 45px 10px 0;  }
	.menu-item-widget-area-container .widget.woocommerce ul.product_list_widget li .amount, .menu-item-widget-area-container .widget.woocommerce ul.product_list_widget li .reviewer { display: inline-block; margin: 5px 0 0; }
	.menu-item-widget-area-container .widget.woocommerce ul.product_list_widget li a img { border-width: 3px; padding: 0; }	
		
	.menu-item-widget-area-container .widget.widget_product_search #searchform input[type="text"], .menu-item-widget-area-container .widget.widget_product_search #searchform input[type="submit"] { font-size: 13px; }
	
	.widget_product_categories .selection-box:after { top:0; height:100%; }


	 .woo-type5 ul.cart_list li .star-rating, .woo-type5 ul.product_list_widget li .star-rating { font-size: 13px; }
	 .woo-type5 .widget.woocommerce .woocommerce-product-search input[type="search"] { padding: 13px 12px; -webkit-border-radius: 10px 0 10px 0 ; -moz-border-radius: 10px 0 10px 0 ; -ms-border-radius: 10px 0 10px 0 ; -o-border-radius: 10px 0 10px 0 ; border-radius: 10px 0 10px 0; }


	.woo-type13 .widget.woocommerce ul.product-categories li:before, .woo-type13 .widget.woocommerce ul.product-categories li:first-child:before { top: 8px; }
	
	.woo-type9 .widget.woocommerce .woocommerce-product-search input[type="submit"] { -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

	
	/* border radius */
	.woo-type4 .widget.woocommerce .woocommerce-product-search input[type="search"], .woo-type6 .widget.woocommerce .woocommerce-product-search input[type="search"], .woo-type18 .widget.woocommerce .woocommerce-product-search input[type="search"], .woo-type20 .widget.woocommerce .woocommerce-product-search input[type="search"] { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
 
	.woo-type4 .widget.woocommerce .woocommerce-product-search input[type="submit"], .woo-type6 .widget.woocommerce .woocommerce-product-search input[type="submit"], .woo-type20 .widget.woocommerce .woocommerce-product-search input[type="submit"], .woo-type18 .widget.woocommerce .woocommerce-product-search input[type="submit"] { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
 
	.woo-type17 .widget.woocommerce .woocommerce-product-search input[type="submit"] { -webkit-border-radius: 0 8px 8px 0; -moz-border-radius: 0 8px 8px 0; border-radius: 0 8px 8px 0; }
	.woo-type9 .widget.woocommerce .woocommerce-product-search input[type="search"] { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }


	/*--------------------------------------------------------------
	1.10 - Default Color
	--------------------------------------------------------------*/
	 #footer .dt-sc-dark-bg .recent-posts-widget li .entry-meta a, #footer .dt-sc-dark-bg .recent-posts-widget li .entry-meta, #footer .dt-sc-dark-bg .tweet_list li .tweet-time { color:rgba(255, 255, 255, 0.3); }
	 
	 .dt-sc-dark-bg .widget input[type="text"], .dt-sc-dark-bg .widget input[type="password"], .dt-sc-dark-bg .widget input[type="email"], .dt-sc-dark-bg .widget input[type="url"], .dt-sc-dark-bg .widget input[type="tel"], .dt-sc-dark-bg .widget input[type="number"], .dt-sc-dark-bg .widget input[type="range"], .dt-sc-dark-bg .widget input[type="date"], .dt-sc-dark-bg .widget textarea, .dt-sc-dark-bg .widget input[type="search"], .dt-sc-dark-bg .widget select, .dt-sc-dark-bg .widget.widget_categories ul li > a span, .dt-sc-dark-bg .widget.widget_archive ul li > a span { background:rgba(255, 255, 255, 0.15); }
	 
	 .dt-sc-twitter-icon:before, .dt-sc-twitter-icon:after, .dt-sc-twitter-icon span { background:#000000; }
	 
	.dt-sc-dark-bg .widget .selection-box:after { background:rgba(255, 255, 255, 0.05); }
	.dt-sc-dark-bg .widget .selection-box:before { border-top-color:rgba(255, 255, 255, 0.1); }
	
	.recent-portfolio-widget ul li a:after, .widget.widget_categories ul li > a:hover span, .widget.widget_archive ul li > a:hover span, .dt-sc-twitter-icon span { color:#ffffff; }
	
	.widget ul li, .widget.widget_nav_menu ul.menu li, .tweet_list li { border-color:rgba(0, 0, 0, 0.15); }
	.dt-sc-dark-bg .widget ul li, .dt-sc-dark-bg .widget.widget_nav_menu ul.menu li { border-color:rgba(255, 255, 255, 0.2); }

	.widget #wp-calendar td a, .recent-posts-widget li .entry-meta a { color:rgba(0, 0, 0, 0.5); }
	.dt-sc-dark-bg .widget #wp-calendar td a { color:rgba(255, 255, 255, 0.5); }
	
	.dt-sc-tweet span { color:rgba(0, 0, 0, 0.4); }
	
	.tweet_list li .tweet-time { color:rgba(0, 0, 0, 0.3); }
	
	
	/*----*****---- << Tag Cloud >> ----*****----*/
	.tagcloud a, .widget.widget_categories ul li > a span, .widget.widget_archive ul li > a span { background:rgba(0, 0, 0, 0.05); }
	.dt-sc-dark-bg .tagcloud a { background:rgba(255, 255, 255, 0.1); }
	
	.dt-sc-dark-bg .tagcloud a { border-bottom-color:rgba(255, 255, 255, 0.12); }
	.tagcloud a { border-bottom-color:rgba(0, 0, 0, 0.11); }
	
	 
	 /*----*****---- << Woocommerce >> ----*****----*/
	 #footer .widget.woocommerce ul.product_list_widget li a img { border-color: rgba(255, 255, 255, 0.75); }
	 
	 .woo-type9 .widget.woocommerce ul li:hover:before { color: inherit; }
	 .woocommerce ul.cart_list li dl:after, .woocommerce ul.cart_list li:after, .woocommerce ul.product_list_widget li dl:after, .woocommerce ul.product_list_widget li:after {
	clear:both
}
	.woo-type9 .widget.woocommerce ul li:hover:before { color: inherit; }

	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #000; }
	 
	 .widget.woocommerce ul.product_list_widget li, .widget.woocommerce ul.product-categories li:last-child, .widget.woocommerce ul.product_list_widget li a img, .select2-container .select2-choice { border-color: rgba(0, 0, 0, 0.15); }
	 
	 #footer .widget.woocommerce ul.product_list_widget li a img { border-color: rgba(255, 255, 255, 0.75); }
	 
	 .dt-sc-dark-bg .widget.woocommerce ul.product_list_widget li, .dt-sc-dark-bg .widget.woocommerce ul.product-categories li:last-child, .dt-sc-dark-bg .widget.woocommerce ul.product_list_widget li a img, .dt-sc-dark-bg .woocommerce .widget_shopping_cart .total, .dt-sc-dark-bg .woocommerce.widget_shopping_cart .total { border-color: rgba(255, 255, 255, 0.2); }
	 
	 #footer .widget.woocommerce #searchform input[type="text"] { color: #808080; }