
/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 7
	3.0  -  General
	4.0  -  Default Color */

	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.woo-type7 ul.products li.product .product-wrapper, .woo-type7 ul.products li.product .product-thumb, .woo-type7 ul.products li.product .product-details, .woo-type7 ul.products li.product-category .product-details h5, .woo-type7 ul.products li.product-category .product-details h5 .count { -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
	
	
	/*--------------------------------------------------------------
	2.0 - Type 7
	--------------------------------------------------------------*/
	.woo-type7 .woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(2) a,
	.woo-type7 .woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(3) a,
	.woo-type7 .woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(1) a,
	.woo-type7 .woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(2) a, 
	.woo-type7.woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(2) a,
	.woo-type7.woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(3) a,
	.woo-type7.woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(1) a,
	.woo-type7.woocommerce ul.products li.product .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(2) a { margin: auto 0; }
	
	.woo-type7 ul.products li.product .product-details { padding: 0 0 10px; }
	
	.woo-type7 ul.products li.product .product-details h5 { border-bottom: none; }
	
	.woo-type7 ul.products li.product .product-details .product-price { padding: 0 20px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	
	.woo-type7 ul.products li.product:hover .product-details .product-rating-wrapper { right: 15px; }
	
	.woo-type7.woocommerce ul.products li:hover:not(.purchasable) .product-details .product-rating-wrapper,
	.woo-type7 .woocommerce ul.products li:hover:not(.purchasable) .product-details .product-rating-wrapper { right: 50%; }
	
	
	.woo-type7 ul.products li.product .product-details .product-rating-wrapper .star-rating { margin: 8px 0 0; }
	
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details, .woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details, 
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details, .woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details { padding: 0 0 5px; } 
	
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details h5, .woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details h5, 
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details h5, .woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details h5 { margin: 0 0 5px; }
	
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details h5, .woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details h5, 
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details h5, .woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details h5, 
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .price, .woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .price, .woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .price, .woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .price { font-size: 10px; }
	
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details .product-price,
	.woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details .product-price,
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details .product-price,
	.woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details .product-price { padding: 0 8px; }
	
	.woo-type7 .page-with-sidebar ul.products li.product:hover .dt-sc-one-fourth .product-details .product-rating-wrapper,
	.woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover .dt-sc-one-fourth .product-details .product-rating-wrapper,
	.woo-type7 .with-both-sidebar ul.products li.product:hover .dt-sc-one-third .product-details .product-rating-wrapper,
	.woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover .dt-sc-one-third .product-details .product-rating-wrapper { right: 6px; }
	
	.woo-type7 .page-with-sidebar ul.products li.product:hover:not(.purchasable) .dt-sc-one-fourth .product-details .product-rating-wrapper, 
	.woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover:not(.purchasable) .dt-sc-one-fourth .product-details .product-rating-wrapper, 
	.woo-type7 .with-both-sidebar ul.products li.product:hover:not(.purchasable) .dt-sc-one-third .product-details .product-rating-wrapper, 
	.woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover:not(.purchasable) .dt-sc-one-third .product-details .product-rating-wrapper { margin-right: 0; right: 50%; width: auto; -webkit-transform: translateX(50%); -moz-transform: translateX(50%); transform: translateX(50%); }
	
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
	.woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details .product-rating-wrapper .star-rating,
	.woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details .product-rating-wrapper .star-rating { font-size: 10px; margin: 10px 0 0; }
	
	.woo-type7 ul.products li.product-category .product-details { padding: 0; }
	
	.woo-type7 ul.products li.product-category .product-details h5,
	.woo-type7 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details h5, 
	.woo-type7 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details h5, 
	.woo-type7 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details h5, 
	.woo-type7 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details h5 { margin: 0; }
	
	
	.woo-type7.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist:before { font-size: 13px; top: 15px; }
	
	.woo-type7 .quantity .qty, .woo-type7.woocommerce-page .quantity .qty, .woo-type7 #coupon_code.input-text { height: 40px; min-height: 40px; }
	
	.woo-type7 .quantity .qty, .woo-type7.woocommerce-page .quantity .qty { padding: 0; }
	
	.woo-type7 #coupon_code.input-text { padding-top: 0; padding-bottom: 0; }
	
	.woo-type7 form .form-row .select2-container { line-height: 41px; }
	

	
	/*--------------------------------------------------------------
	 3.0 - General
	--------------------------------------------------------------*/
	.woo-type7.woocommerce input[type="text"], .woo-type7.woocommerce input[type="password"], .woo-type7.woocommerce input[type="email"], .woo-type7.woocommerce input[type="url"], .woo-type7.woocommerce input[type="tel"], .woo-type7.woocommerce input[type="number"], .woo-type7.woocommerce input[type="range"], .woo-type7.woocommerce input[type="date"], .woo-type7.woocommerce textarea, .woo-type7.woocommerce input.text, .woo-type7.woocommerce input[type="search"], .woo-type7.woocommerce select, .woo-type7 .woocommerce input[type="text"], .woo-type7 .woocommerce input[type="password"], .woo-type7 .woocommerce input[type="email"], .woo-type7 .woocommerce input[type="url"], .woo-type7 .woocommerce input[type="tel"], .woo-type7 .woocommerce input[type="number"], .woo-type7 .woocommerce input[type="range"], .woo-type7 .woocommerce input[type="date"], .woo-type7 .woocommerce textarea, .woo-type7 .woocommerce input.text, .woo-type7 .woocommerce input[type="search"], .woo-type7 .woocommerce select { font-family: inherit; font-size: inherit; }
	
	.woo-type7 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type7 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type7 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type7 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type7 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }


	
	/*--------------------------------------------------------------
	 4.0 - Default Color
	--------------------------------------------------------------*/	
	
	/*----*****---- << Background >> --****--*/
	.woo-type7 ul.products li.product:hover .product-content { background-color: rgba(255, 255, 255,0.75); }
	
	.woo-type7 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type7 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type7 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type7 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover { background-color: #000; }
	
	.woo-type7 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover { background-color: #fff; }
	
	
	/*----*****---- << Borders >> --****--*/	
	.woo-type7 ul.products li.product:hover .product-content:after { border-color: rgba(255, 255, 255,0.75) rgba(255, 255, 255,0.75) rgba(255, 255, 255,0.35) rgba(255, 255, 255,0.35); }
	
	
	/*----*****---- << Colors >> --****--*/	
	.woo-type7 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type7 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type7 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type7 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover { color: #fff; }
	
	.woo-type7 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type7 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before { color: #000; }
	
	.woo-type7 ul.products li.product .product-details h5 a, .woo-type7 ul.products li.product-category .product-details h5, .woo-type7 ul.products li.product-category .product-details h5 .count, .woo-type7 ul.products li.product .product-details .product-price .amount, .woo-type7 ul.products li.product .product-details span.price, .woo-type7 ul.products li.product .product-details span.price del, .woo-type7 ul.products li.product .product-details span.price del .amount, .woo-type7 ul.products li.product .product-details span.price ins, .woo-type7 ul.products li.product .product-details span.price ins .amount, .woo-type7 ul.products li.product .product-details .product-rating-wrapper .star-rating:before, .woo-type7 ul.products li.product .product-details .product-rating-wrapper .star-rating span:before { color: #fff; }
	
	.woo-type7 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type7 ul.products li.product .product-thumb .add_to_wishlist:before, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woo-type7 ul.products li.product:hover .product-details .product-price .amount, .woo-type7 ul.products li.product:hover .product-details span.price, .woo-type7 ul.products li.product:hover .product-details span.price del, .woo-type7 ul.products li.product:hover .product-details span.price del .amount, .woo-type7 ul.products li.product:hover .product-details span.price ins, .woo-type7 ul.products li.product:hover .product-details span.price ins .amount, .woo-type7 ul.products li.product .product-details .product-rating-wrapper .star-rating:before, .woo-type7 ul.products li.product .product-details .product-rating-wrapper .star-rating span:before { color: #fff; }