
/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 16
	3.0  -  General
	4.0  -  Default Color */
	
	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.woo-type16 ul.products li.product .product-details h5, .woo-type16 ul.products li.product-category .product-details h5 .count, .woo-type16 ul.products li.product .product-details h5:after { -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
	
	.woo-type16 ul.products li.product .product-wrapper, .woo-type16 ul.products li.product .product-wrapper:after { -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
	
	.woo-type16 ul.products li.pif-has-gallery .product-thumb .image img:first-child { left: 0; overflow: hidden; top: 0; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }
	
	.woo-type16 ul.products li:not(.pif-has-gallery) .product-thumb .image img { -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -ms-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; }
	
	
	/*--------------------------------------------------------------
	2.0 - Type 16
	--------------------------------------------------------------*/
	.woo-type16 ul.products li.product .column { margin-bottom: 40px; padding: 0 5px; }
	.woo-type16 ul.products li.product .product-wrapper { display: inline-block; margin: 0; overflow: visible; padding: 15px 15px 0; position: relative; left: 0; top: 0; width: 100%; }
	.woo-type16 ul.products li.product .product-wrapper:after { content: ""; height: 100%; position: absolute; left: -10px; top: -10px; width: 100%; z-index: -1; }
	
	.woo-type16 ul.products li.product:hover .product-wrapper { left: -10px; top: -10px; }
	.woo-type16 ul.products li.product:hover .product-wrapper:after { left: 10px; top: 10px; }
	
	.woo-type16 ul.products li.product .product-thumb { overflow: hidden; }
	.woo-type16 ul.products li.product .featured-tag { left: 15px; top: 15px; }
	.woo-type16 ul.products li.product .onsale, .woo-type16 ul.products li.product .out-of-stock { right: 15px; top: 15px; }
	.woo-type16 ul.products li.product:hover .onsale, .woo-type16 ul.products li.product:hover .out-of-stock { right: 20px; top: 20px; }
	
	.woo-type16 ul.products li.product .product-details { padding: 0 15px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	
	.woo-type16 ul.products li.product .product-details h5 { border-bottom: none; margin: 0 0 20px; position: relative; text-transform: uppercase; }
	
	.woo-type16 ul.products li.product-category .product-wrapper > h3 { display: inline-block; width: 100%; }
	
	.woo-type16 ul.products li.product .product-details h5:after { content: ""; height: 3px; left: 0; margin: auto; position: absolute; bottom: 0; right: 0; width: 30px; }
	.woo-type16 ul.products li.product:hover .product-details h5:after { width: 40px; }
	
	.woo-type16 ul.products li.product .product-details h5 a, .woo-type16 ul.products li.product-category .product-details h5 { padding: 20px 0 25px; }
	
	.woo-type16 ul.products li.product .price, .woo-type16 ul.products li.product:hover .price { padding: 0; text-align: center; width: auto; }
	
	.woo-type16 ul.products li.product .product-details .product-rating-wrapper, .woo-type16 ul.products li.product:hover .product-details .product-rating-wrapper { display: none; }
	
	
	.woo-type16 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-wrapper,
	.woo-type16 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-wrapper { padding: 10px 10px 0; }
	
	.woo-type16 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .featured-tag,
	.woo-type16 .with-both-sidebar ul.products li.product .dt-sc-one-third .featured-tag { left: 10px; top: 10px; }
	
	.woo-type16 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .onsale, .woo-type16 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .out-of-stock,
	.woo-type16 .with-both-sidebar ul.products li.product .dt-sc-one-third .onsale, .woo-type16 .with-both-sidebar ul.products li.product .dt-sc-one-third .out-of-stock { right: 10px; top: 10px; }
	
	.woo-type16 .page-with-sidebar ul.products li.product:hover .dt-sc-one-fourth .onsale, .woo-type16 .page-with-sidebar ul.products li.product:hover .dt-sc-one-fourth .out-of-stock,
	.woo-type16 .with-both-sidebar ul.products li.product:hover .dt-sc-one-third .onsale, .woo-type16 .with-both-sidebar ul.products li.product:hover .dt-sc-one-third .out-of-stock { right: 15px; top: 15px; }
	
	
	.woo-type16 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details { padding: 0 10px 15px; }
	.woo-type16 .with-both-sidebar ul.products li.product .dt-sc-one-fourth .price { font-size: 12px; }
	
	.woo-type16 ul.products li.product .product-thumb .yith-wcwl-add-button img { right: calc(50% - 72px); }



	/*--------------------------------------------------------------
	3.0 - General
	--------------------------------------------------------------*/
	.woo-type16.woocommerce a.button, .woo-type16.woocommerce button.button, .woo-type16.woocommerce button, .woo-type16.woocommerce input.button, .woo-type16.woocommerce input[type=button], .woo-type16.woocommerce input[type=submit], .woo-type16.woocommerce #respond input#submit, .woo-type16.woocommerce a.button.alt, .woo-type16.woocommerce button.button.alt, .woo-type16.woocommerce input.button.alt, .woo-type16.woocommerce #respond input#submit.alt, .woo-type16 .woocommerce a.button, .woo-type16 .woocommerce button.button, .woo-type16 .woocommerce button, .woo-type16 .woocommerce input.button, .woo-type16 .woocommerce input[type=button], .woo-type16 .woocommerce input[type=submit], .woo-type16 .woocommerce #respond input#submit, .woo-type16 .woocommerce a.button.alt, .woo-type16 .woocommerce button.button.alt, .woo-type16 .woocommerce input.button.alt, .woo-type16 .woocommerce #respond input#submit.alt, .woo-type16.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type16 .wishlist_table .add_to_cart.button, .woo-type16 .yith-wcwl-add-button a.add_to_wishlist, .woo-type16 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type16 .wishlist_table a.ask-an-estimate-button, .woo-type16 .wishlist-title a.show-title-form, .woo-type16 .hidden-title-form a.hide-title-form, .woo-type16 .yith-wcwl-wishlist-new button, .woo-type16 .wishlist_manage_table a.create-new-wishlist, .woo-type16 .wishlist_manage_table button.submit-wishlist-changes, .woo-type16 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type16 .cart input.button { font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase; }
	
	.woo-type16.woocommerce input[type="text"], .woo-type16.woocommerce input[type="password"], .woo-type16.woocommerce input[type="email"], .woo-type16.woocommerce input[type="url"], .woo-type16.woocommerce input[type="tel"], .woo-type16.woocommerce input[type="number"], .woo-type16.woocommerce input[type="range"], .woo-type16.woocommerce input[type="date"], .woo-type16.woocommerce textarea, .woo-type16.woocommerce input.text, .woo-type16.woocommerce input[type="search"], .woo-type16.woocommerce select, .woo-type16 .woocommerce input[type="text"], .woo-type16 .woocommerce input[type="password"], .woo-type16 .woocommerce input[type="email"], .woo-type16 .woocommerce input[type="url"], .woo-type16 .woocommerce input[type="tel"], .woo-type16 .woocommerce input[type="number"], .woo-type16 .woocommerce input[type="range"], .woo-type16 .woocommerce input[type="date"], .woo-type16 .woocommerce textarea, .woo-type16 .woocommerce input.text, .woo-type16 .woocommerce input[type="search"], .woo-type16 .woocommerce select, .woo-type16 a.button, .woo-type16 button.button, .woo-type16 input.button, .woo-type16 button, .woo-type16 input[type=button], .woo-type16 input[type=submit], .woo-type16 a.button.alt, .woo-type16 button.button.alt, .woo-type16 input.button.alt, .woo-type16 #respond input#submit.alt, .woo-type16 #respond input#submit, .woo-type16.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type16 .wishlist_table .add_to_cart.button, .woo-type16 .yith-wcwl-add-button a.add_to_wishlist, .woo-type16 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type16 .wishlist_table a.ask-an-estimate-button, .woo-type16 .wishlist-title a.show-title-form, .woo-type16 .hidden-title-form a.hide-title-form, .woo-type16 .yith-wcwl-wishlist-new button, .woo-type16 .wishlist_manage_table a.create-new-wishlist, .woo-type16 .wishlist_manage_table button.submit-wishlist-changes, .woo-type16 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type16 .cart input.button, .woo-type16 div.product .woocommerce-tabs ul.tabs li a { font-family: inherit; }
	
	.woo-type16.woocommerce input[type="text"], .woo-type16.woocommerce input[type="password"], .woo-type16.woocommerce input[type="email"], .woo-type16.woocommerce input[type="url"], .woo-type16.woocommerce input[type="tel"], .woo-type16.woocommerce input[type="number"], .woo-type16.woocommerce input[type="range"], .woo-type16.woocommerce input[type="date"], .woo-type16.woocommerce textarea, .woo-type16.woocommerce input.text, .woo-type16.woocommerce input[type="search"], .woo-type16.woocommerce select, .woo-type16 .woocommerce input[type="text"], .woo-type16 .woocommerce input[type="password"], .woo-type16 .woocommerce input[type="email"], .woo-type16 .woocommerce input[type="url"], .woo-type16 .woocommerce input[type="tel"], .woo-type16 .woocommerce input[type="number"], .woo-type16 .woocommerce input[type="range"], .woo-type16 .woocommerce input[type="date"], .woo-type16 .woocommerce textarea, .woo-type16 .woocommerce input.text, .woo-type16 .woocommerce input[type="search"], .woo-type16 .woocommerce select { font-size: inherit; }
	
	
	.woo-type16.woocommerce input[type="text"], .woo-type16.woocommerce input[type="password"], .woo-type16.woocommerce input[type="email"], .woo-type16.woocommerce input[type="url"], .woo-type16.woocommerce input[type="tel"], .woo-type16.woocommerce input[type="number"], .woo-type16.woocommerce input[type="range"], .woo-type16.woocommerce input[type="date"], .woo-type16.woocommerce textarea, .woo-type16.woocommerce input.text, .woo-type16.woocommerce input[type="search"], .woo-type16.woocommerce select, .woo-type16 .woocommerce input[type="text"], .woo-type16 .woocommerce input[type="password"], .woo-type16 .woocommerce input[type="email"], .woo-type16 .woocommerce input[type="url"], .woo-type16 .woocommerce input[type="tel"], .woo-type16 .woocommerce input[type="number"], .woo-type16 .woocommerce input[type="range"], .woo-type16 .woocommerce input[type="date"], .woo-type16 .woocommerce textarea, .woo-type16 .woocommerce input.text, .woo-type16 .woocommerce input[type="search"], .woo-type16 .woocommerce select, .woo-type16 .select2-container .select2-choice, .woo-type16.woocommerce-cart #coupon_code.input-text, .woo-type16 .woocommerce-message, .woo-type16 .woocommerce-info, .woo-type16 .woocommerce-error, .woo-type16 .woocommerce-message:before, .woo-type16 .woocommerce-info:before, .woo-type16 .woocommerce-error:before, .woo-type16 form.checkout_coupon, .woo-type16 form.login, .woo-type16 form.register, .woo-type16 #reviews #comments ol.commentlist li .comment-text, .woo-type16.woocommerce .pagination ul li a, .woo-type16.woocommerce .pagination ul li span, .woo-type16 .woocommerce .pagination ul li a, .woo-type16 .woocommerce .pagination ul li span, .woo-type16.woocommerce table.shop_attributes, .woo-type16.woocommerce-cart .cart-collaterals .cart_totals table { border-width: 3px; }
	
	.woo-type16.woocommerce .selection-box:after, .woo-type16 .woocommerce .selection-box:after { right: 2px; top: 3px; }
	
	.woo-type16.woocommerce table.shop_table.cart, .woo-type16.woocommerce table.shop_table.wishlist_table,
	.woo-type16 .woocommerce table.shop_table.cart, .woo-type16 .woocommerce table.shop_table.wishlist_table { border-width: 0 0 3px; }
	
	.woo-type16.woocommerce table.shop_table.cart tbody th:first-child, .woo-type16.woocommerce table.shop_table.cart tbody td:first-child, 
	.woo-type16.woocommerce table.shop_table.cart tfoot th:first-child, .woo-type16.woocommerce table.shop_table.cart tfoot td:first-child, 
	.woo-type16 .woocommerce table.shop_table.cart tbody th:first-child, .woo-type16 .woocommerce table.shop_table.cart tbody td:first-child, 
	.woo-type16 .woocommerce table.shop_table.cart tfoot th:first-child, .woo-type16 .woocommerce table.shop_table.cart tfoot td:first-child, 
	.woo-type16.woocommerce table.shop_table.wishlist_table tbody th:first-child, .woo-type16.woocommerce table.shop_table.wishlist_table tbody td:first-child, 
	.woo-type16.woocommerce table.shop_table.wishlist_table tfoot th:first-child, .woo-type16.woocommerce table.shop_table.wishlist_table tfoot td:first-child, 
	.woo-type16 .woocommerce table.shop_table.wishlist_table tbody th:first-child, .woo-type16 .woocommerce table.shop_table.wishlist_table tbody td:first-child, 
	.woo-type16 .woocommerce table.shop_table.wishlist_table tfoot th:first-child, .woo-type16 .woocommerce table.shop_table.wishlist_table tfoot td:first-child, 
	.woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th:first-child, .woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td:first-child, 
	.woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th:first-child, .woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td:first-child, 
	.woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th:first-child, .woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td:first-child, 
	.woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th:first-child, .woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td:first-child, 
	.woo-type16.woocommerce table.shop_table.order_details tbody th:first-child, .woo-type16.woocommerce table.shop_table.order_details tbody td:first-child, 
	.woo-type16.woocommerce table.shop_table.order_details tfoot th:first-child, .woo-type16.woocommerce table.shop_table.order_details tfoot td:first-child, 
	.woo-type16 .woocommerce table.shop_table.order_details tbody th:first-child, .woo-type16 .woocommerce table.shop_table.order_details tbody td:first-child, 
	.woo-type16 .woocommerce table.shop_table.order_details tfoot th:first-child, .woo-type16 .woocommerce table.shop_table.order_details tfoot td:first-child { border-left-width: 3px; }
	
	.woo-type16.woocommerce table.shop_table.cart tbody th:last-child, .woo-type16.woocommerce table.shop_table.cart tbody td:last-child, 
	.woo-type16.woocommerce table.shop_table.cart tfoot th:last-child, .woo-type16.woocommerce table.shop_table.cart tfoot td:last-child, 
	.woo-type16 .woocommerce table.shop_table.cart tbody th:last-child, .woo-type16 .woocommerce table.shop_table.cart tbody td:last-child, 
	.woo-type16 .woocommerce table.shop_table.cart tfoot th:last-child, .woo-type16 .woocommerce table.shop_table.cart tfoot td:last-child, 
	.woo-type16.woocommerce table.shop_table.wishlist_table tbody th:last-child, .woo-type16.woocommerce table.shop_table.wishlist_table tbody td:last-child, 
	.woo-type16.woocommerce table.shop_table.wishlist_table tfoot th:last-child, .woo-type16.woocommerce table.shop_table.wishlist_table tfoot td:last-child, 
	.woo-type16 .woocommerce table.shop_table.wishlist_table tbody th:last-child, .woo-type16 .woocommerce table.shop_table.wishlist_table tbody td:last-child, 
	.woo-type16 .woocommerce table.shop_table.wishlist_table tfoot th:last-child, .woo-type16 .woocommerce table.shop_table.wishlist_table tfoot td:last-child, 
	.woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th:last-child, .woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td:last-child, 
	.woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th:last-child, .woo-type16.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td:last-child, 
	.woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody th:last-child, .woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody td:last-child, 
	.woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th:last-child, .woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td:last-child, 
	.woo-type16.woocommerce table.shop_table.order_details tbody th:last-child, .woo-type16.woocommerce table.shop_table.order_details tbody td:last-child, 
	.woo-type16.woocommerce table.shop_table.order_details tfoot th:last-child, .woo-type16.woocommerce table.shop_table.order_details tfoot td:last-child, 
	.woo-type16 .woocommerce table.shop_table.order_details tbody th:last-child, .woo-type16 .woocommerce table.shop_table.order_details tbody td:last-child, 
	.woo-type16 .woocommerce table.shop_table.order_details tfoot th:last-child, .woo-type16 .woocommerce table.shop_table.order_details tfoot td:last-child { border-right-width: 3px; }
	
	.woo-type16 table.shop_table td, .woo-type16 table.shop_table tbody th, .woo-type16 table.shop_table tfoot td, .woo-type16 table.shop_table tfoot th,
	.woo-type16 .woocommerce table.shop_attributes th, .woo-type16 .woocommerce table.shop_attributes td, 
	.woo-type16.woocommerce table.shop_attributes th, .woo-type16.woocommerce table.shop_attributes td, 
	.woo-type16.woocommerce-cart .cart-collaterals .cart_totals tr th, .woo-type16.woocommerce-cart .cart-collaterals .cart_totals tr td { border-top-width: 3px; }
	
	.woo-type16 .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot tr:last-child td, .woo-type16 .woocommerce table.order_details tfoot tr:last-child td,
	.woo-type16.woocommerce-page table.shop_table.woocommerce-checkout-review-order-table tfoot tr:last-child td, .woo-type16.woocommerce-page table.order_details tfoot tr:last-child td, .woo-type16 div.product .woocommerce-tabs ul.tabs:before { border-bottom-width: 3px; }
	
	.woo-type16 div.product .woocommerce-tabs ul.tabs li.active a:after { height: 4px; }
	
	
	
	.woo-type16 .quantity .qty, .woo-type16.woocommerce-page .quantity .qty { background-color: #fff; height: 40px; padding: 1px; }
	
	.woo-type16 #coupon_code.input-text { height: 40px; min-height: 40px; padding-top: 0; padding-bottom: 0; }
	
	.woo-type16 form .form-row .select2-container { line-height: 39px; }
	
	
	.woo-type16 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type16 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type16 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type16 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type16 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
	
	
	/*----*****---- << Image Slide Effect >> --****--*/	
	.woo-type16 ul.products li.pif-has-gallery .product-thumb .image { display: block;  overflow: hidden; position: relative; text-align: center; }
	
	
	.woo-type16 ul.products li.pif-has-gallery .product-thumb .image img:first-child, .woo-type16 ul.products li.pif-has-gallery:hover .product-thumb .image .secondary-image { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
	
	.woo-type16 ul.products li.pif-has-gallery:hover .product-thumb .image img:first-child { -webkit-transform: translate(-100%, 0); -moz-transform: translate(-100%, 0); -ms-transform: translate(-100%, 0); -o-transform: translate(-100%, 0); transform: translate(-100%, 0); }
	
	.woo-type16 ul.products li.pif-has-gallery .product-thumb .image .secondary-image { -webkit-transform: translate(100%, 0); -moz-transform: translate(100%, 0); -ms-transform: translate(100%, 0); -o-transform: translate(100%, 0); transform: translate(100%, 0); }
	
	
	.woo-type16 ul.products li:not(.pif-has-gallery) .product-thumb .image { overflow: hidden; }
	
	
	.woo-type16 ul.products li:not(.pif-has-gallery):hover .product-thumb .image img, 
	.woo-type16 ul.products li.pif-has-gallery:hover .product-thumb .image img:only-child { -webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); transform: scale(1.15); }
	.woo-type16 ul.products li.product-category:not(.pif-has-gallery):hover .product-thumb .image img,
	.woo-type16 ul.products li.product-category.pif-has-gallery:hover .product-thumb .image img:only-child { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

	
	
	/*--------------------------------------------------------------
	4.0 - Default Color
	--------------------------------------------------------------*/
	
	/*----*****---- << Background >> --****--*/
	.woo-type16 div.product .woocommerce-tabs ul.tabs li.active, .woo-type16 .woocommerce-tabs .panel, .woo-type16 .select2-results, .woo-type16 .woocommerce-message, .woo-type16 .woocommerce-info, .woo-type16 .woocommerce-error { background-color: rgba(0,0,0,0); }
	
	.woo-type16 ul.products li.product .product-wrapper:after, .woo-type16 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type16 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type16 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type16 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type16 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type16.woocommerce ul.products li.product .featured-tag, .woo-type16.woocommerce ul.products li.product:hover .featured-tag, .woo-type16 .woocommerce ul.products li.product .featured-tag, .woo-type16 .woocommerce ul.products li.product:hover .featured-tag, .woo-type16.woocommerce.single-product .featured-tag { background-color: #000; }
	
	.woo-type16 ul.products li.product:hover .product-content, .woo-type16 ul.products li.product .product-details h5:after { background-color: rgba(255, 255, 255,0.8); }
	
	.woo-type16.woocommerce a.button:hover, .woo-type16.woocommerce button.button:hover, .woo-type16.woocommerce button:hover, .woo-type16.woocommerce input.button:hover, .woo-type16.woocommerce input[type=button]:hover, .woo-type16.woocommerce input[type=submit]:hover, .woo-type16.woocommerce #respond input#submit:hover, .woo-type16.woocommerce a.button.alt:hover, .woo-type16.woocommerce button.button.alt:hover, .woo-type16.woocommerce input.button.alt:hover, .woo-type16.woocommerce #respond input#submit.alt:hover, .woo-type16 .woocommerce a.button:hover, .woo-type16 .woocommerce button.button:hover, .woo-type16 .woocommerce button:hover, .woo-type16 .woocommerce input.button:hover, .woo-type16 .woocommerce input[type=button]:hover, .woo-type16 .woocommerce input[type=submit]:hover, .woo-type16 .woocommerce #respond input#submit:hover, .woo-type16 .woocommerce a.button.alt:hover, .woo-type16 .woocommerce button.button.alt:hover, .woo-type16 .woocommerce input.button.alt:hover, .woo-type16 .woocommerce #respond input#submit.alt:hover, .woo-type16.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist:hover, .woo-type16 .wishlist_table .add_to_cart.button:hover, .woo-type16 .yith-wcwl-add-button a.add_to_wishlist:hover, .woo-type16 .yith-wcwl-popup-button a.add_to_wishlist:hover, .woo-type16 .wishlist_table a.ask-an-estimate-button:hover, .woo-type16 .wishlist-title a.show-title-form:hover, .woo-type16 .hidden-title-form a.hide-title-form:hover, .woo-type16 .yith-wcwl-wishlist-new button:hover, .woo-type16 .wishlist_manage_table a.create-new-wishlist:hover, .woo-type16 .wishlist_manage_table button.submit-wishlist-changes:hover, .woo-type16 .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover, .woo-type16.woocommerce .cart input.button:hover, .woo-type16 .woocommerce .cart input.button:hover { background-color: #000; }
	
	
	/*----*****---- << Borders >> --****--*/
	.woo-type16.woocommerce ul.products li.product .featured-tag::after, .woo-type16.woocommerce ul.products li.product:hover .featured-tag::after, .woo-type16 .woocommerce ul.products li.product .featured-tag::after, .woo-type16 .woocommerce ul.products li.product:hover .featured-tag::after, .woo-type16.woocommerce.single-product .featured-tag::after { border-color: #000; }
	
	.woo-type16 ul.products li.product:hover .product-content:after { border-color: rgba(255, 255, 255,0.8) rgba(255, 255, 255,0.8) rgba(255, 255, 255,0.35) rgba(255, 255, 255,0.35); }


	/*----*****---- << Colors >> --****--*/
	.woo-type16.woocommerce a.button:hover, .woo-type16.woocommerce button.button:hover, .woo-type16.woocommerce button:hover, .woo-type16.woocommerce input.button:hover, .woo-type16.woocommerce input[type=button]:hover, .woo-type16.woocommerce input[type=submit]:hover, .woo-type16.woocommerce #respond input#submit:hover, .woo-type16.woocommerce a.button.alt:hover, .woo-type16.woocommerce button.button.alt:hover, .woo-type16.woocommerce input.button.alt:hover, .woo-type16.woocommerce #respond input#submit.alt:hover, .woo-type16 .woocommerce a.button:hover, .woo-type16 .woocommerce button.button:hover, .woo-type16 .woocommerce button:hover, .woo-type16 .woocommerce input.button:hover, .woo-type16 .woocommerce input[type=button]:hover, .woo-type16 .woocommerce input[type=submit]:hover, .woo-type16 .woocommerce #respond input#submit:hover, .woo-type16 .woocommerce a.button.alt:hover, .woo-type16 .woocommerce button.button.alt:hover, .woo-type16 .woocommerce input.button.alt:hover, .woo-type16 .woocommerce #respond input#submit.alt:hover, .woo-type16.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist:hover, .woo-type16 .wishlist_table .add_to_cart.button:hover, .woo-type16 .yith-wcwl-add-button a.add_to_wishlist:hover, .woo-type16 .yith-wcwl-popup-button a.add_to_wishlist:hover, .woo-type16 .wishlist_table a.ask-an-estimate-button:hover, .woo-type16 .wishlist-title a.show-title-form:hover, .woo-type16 .hidden-title-form a.hide-title-form:hover, .woo-type16 .yith-wcwl-wishlist-new button:hover, .woo-type16 .wishlist_manage_table a.create-new-wishlist:hover, .woo-type16 .wishlist_manage_table button.submit-wishlist-changes:hover, .woo-type16 .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover, .woo-type16 .cart input.button:hover, .woo-type16 .woocommerce-message .button, .woo-type16 .woocommerce-info .button, .woo-type16 .woocommerce-error .button { color: #fff; }
	
	.woo-type16.woocommerce a.button, .woo-type16.woocommerce button.button, .woo-type16.woocommerce button, .woo-type16.woocommerce input.button, .woo-type16.woocommerce input[type=button], .woo-type16.woocommerce input[type=submit], .woo-type16.woocommerce #respond input#submit, .woo-type16.woocommerce a.button.alt, .woo-type16.woocommerce button.button.alt, .woo-type16.woocommerce input.button.alt, .woo-type16.woocommerce #respond input#submit.alt, .woo-type16 .woocommerce a.button, .woo-type16 .woocommerce button.button, .woo-type16 .woocommerce input.button, .woo-type16 .woocommerce button, .woo-type16 .woocommerce button, .woo-type16 .woocommerce input[type=button], .woo-type16 .woocommerce input[type=submit], .woo-type16 .woocommerce #respond input#submit, .woo-type16 .woocommerce a.button.alt, .woo-type16 .woocommerce button.button.alt, .woo-type16 .woocommerce input.button.alt, .woo-type16 .woocommerce #respond input#submit.alt, .woo-type16.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type16 .wishlist_table .add_to_cart.button, .woo-type16 .yith-wcwl-add-button a.add_to_wishlist, .woo-type16 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type16 .wishlist_table a.ask-an-estimate-button, .woo-type16 .wishlist-title a.show-title-form, .woo-type16 .hidden-title-form a.hide-title-form, .woo-type16 .yith-wcwl-wishlist-new button, .woo-type16 .wishlist_manage_table a.create-new-wishlist, .woo-type16 .wishlist_manage_table button.submit-wishlist-changes, .woo-type16 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type16 .cart input.button { color: #fff; }
	
	.woo-type16 ul.products li.product .product-wrapper, .woo-type16 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type16 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type16 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type16 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type16 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type16 ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .woo-type16 ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .woo-type16 ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .woo-type16 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .woo-type16 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .woo-type16 ul.products li.product .product-details h5 a, .woo-type16 ul.products li.product .product-details .product-price .amount, .woo-type16 ul.products li.product .product-details span.price, .woo-type16 ul.products li.product .product-details span.price del, .woo-type16 ul.products li.product .product-details span.price del .amount, .woo-type16 ul.products li.product .product-details span.price ins, .woo-type16 ul.products li.product .product-details span.price ins .amount, .woo-type16 ul.products li.product .product-details .product-rating-wrapper .star-rating:before, .woo-type16 ul.products li.product .product-details .product-rating-wrapper .star-rating span:before, .woo-type16.woocommerce .pagination ul li:hover a, .woo-type16.woocommerce .pagination ul li:hover span, .woo-type16.woocommerce .pagination ul li a:hover, .woo-type16.woocommerce .pagination ul li a:hover span, .woo-type16.woocommerce .pagination ul li a:hover i, .woo-type16.woocommerce .pagination ul li .current, .woo-type16 .woocommerce .pagination ul li:hover a, .woo-type16 .woocommerce .pagination ul li:hover span, .woo-type16 .woocommerce .pagination ul li a:hover, .woo-type16 .woocommerce .pagination ul li a:hover span, .woo-type16 .woocommerce .pagination ul li a:hover i, .woo-type16 .woocommerce .pagination ul li .current { color: #fff; }
	
	.woo-type16 ul.products li.product:hover .product-details h5 a:hover, .woo-type16 ul.products li.product-category:hover .product-details h5, .woo-type16 ul.products li.product-category:hover .product-details h5 .count { color: rgba(255,255,255,0.75); }